.morelink{
  display: none;
}
.popover-title{
  padding:8px 23px;
  text-align:center;
}
.box-header .box-tools .btn-group.pull-right .popover.confirmation.left{
  top: -41.2px;
  left: -179.1625px;
}

.form-group.col-sm-12 .select2.select2-container.select2-container{
  width: 100%;
}
.FrmSearch{
  position: absolute;
  z-index: 11111;
  top: -4px;
  left: -8px;
}

.inputSearch{
  padding: 6px;
  font-size: 17px;
}
.form-group {
    margin-bottom: 30px;
}
.popUpBlockUser{
    position: absolute;
    background: #f7f7f7;
    text-align: left;
    color: black;
    right: 92px;
    margin-top: -33px;
    width: 290px;
    z-index: 1111;
}
.popUpBlockUser .text_popUp{
    margin-top: 5px;
    padding: 0 10px;
}
#form_img{
  margin-bottom: 0;
}
.preview{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000000;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    line-height: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.cover_data{
  float: left;
  width: 30%;
  margin-right: 5%;
  min-height: 125px;
  border: 1px solid;
  cursor: pointer;
}
.cover_data:nth-child(3n){
  margin-right: 0;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 9px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.loading  {
  display: none;
  z-index:111111111;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.9);
}
#common_loading2{
  z-index: 111111111;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9);
}
.pop_upReturn {
  position: absolute;
  left: 41.4%;
  width: 350px;
  border-radius: 8px;
  background: #fff;
  color: black;
  padding: 0 15px;
  text-align: center;
  border: 1px solid;
}
.loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 175px;
  z-index: 111111111111;
  height: 100px;
}
.return-list{
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
}
.return-list-img{
  width: 365px;
}
.return-list-content{
  width: calc(100% - 420px);
}
.return-list-content-number {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.return-list-content-text {
  line-height: 1.6;
  padding-right: 10px;
}
.return-list-content .return-list-status {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 38px;
    padding-right: 25px;
}
.loader span {
  display: block;
  background: #ccc;
  width: 7px;
  height: 10%;
  border-radius: 14px;
  margin-right: 5px;
  float: left;
  margin-top: 25%;
}
.loader span:last-child {
  margin-right: 0px;
}
.loader span:nth-child(1) {
  animation: load 2.5s 1.4s infinite linear;
}
.loader span:nth-child(2) {
  animation: load 2.5s 1.2s infinite linear;
}
.loader span:nth-child(3) {
  animation: load 2.5s 1s infinite linear;
}
.loader span:nth-child(4) {
  animation: load 2.5s 0.8s infinite linear;
}
.loader span:nth-child(5) {
  animation: load 2.5s 0.6s infinite linear;
}
.loader span:nth-child(6) {
  animation: load 2.5s 0.4s infinite linear;
}
.loader span:nth-child(7) {
  animation: load 2.5s 0.2s infinite linear;
}
.loader span:nth-child(8) {
  animation: load 2.5s 0s infinite linear;
}
.loader span:nth-child(9) {
  animation: load 2.5s 0.2s infinite linear;
}
.loader span:nth-child(10) {
  animation: load 2.5s 0.4s infinite linear;
}
.loader span:nth-child(11) {
  animation: load 2.5s 0.6s infinite linear;
}
.loader span:nth-child(12) {
  animation: load 2.5s 0.8s infinite linear;
}
.loader span:nth-child(13) {
  animation: load 2.5s 1s infinite linear;
}
.loader span:nth-child(14) {
  animation: load 2.5s 1.2s infinite linear;
}
.loader span:nth-child(15) {
  animation: load 2.5s 1.4s infinite linear;
}

@keyframes load {
  0% {
    background: #ccc;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: #444;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: #ccc;
    height: 10%;
    margin-top: 25%;
  }
}
.saving{
  margin: 0;
  font-size: 20px;
}
.loading_refunds{
  padding: 18px;
  border: 1px solid;
  position: absolute;
  border-radius: 6px;
  top: 40%;
  left: 32%;
}
.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

#menu_sub{
  float: right;
  margin-right: 10px;
}
#cover_form_mailtemplate{
    margin-top: 30px;
    background: #fff;
}
.form_mailtemplate{
    padding: 30px;
    overflow: hidden;
}
#cover_form_mailtemplate .form_mailtemplate .sendmail{
    float: left;
}

#cover_form_mailtemplate .form_mailtemplate .backsendmail{
    float: right;
}

#tabPre-1{
    text-align: center;
}
#tabPre-1 p, #tabPre-1 h1, #tabPre-1 h2, #tabPre-1 h3, #tabPre-1 h4, #tabPre-1 h5, #tabPre-1 h6{
  text-align:left;
}
#tabPre-1 p{
    overflow: hidden;
}
#tabPre-1 p img{
    display: block;
    margin: 0 auto;
    max-width: 800px;
}
.cover_image_preview{
    position:relative
}
.cover_image_preview .click_image_preview {
    position: absolute;
    z-index: 11111111;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cover_image_preview .playvideo{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    left: 0;
}
.pd-area .pd-box-2 .pd-box-title.fix_space{
    margin-bottom: 10px;
}
.message_project{
    margin-bottom: 30px;
}
.max_count{
    position: absolute;
    z-index: 11111;
    top: 7px;
    right: 0;
    font-size: 14px;
}
.max_count span{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}
.cover_relative{
    position: relative;
}
.premessage{
    width: 100%;
    border-radius: none;
    border:none;
    background-color:#fff;
    overflow:hidden;
    resize: none;
}
.total_user{
    position: absolute;
    right: 225px;
    top: 7px;
    font-weight: bold;
}

#info_project_fanclub{
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
}

#info_project_normal{
    overflow: hidden;
    width: 100%;
}
.form-check-status{
    margin-top: 30px;
}
