

.banner-css0 {
    background-image: url(../img/staticPage/bannerMakeProject.png) !important;
    background-position: 900px 0px !important;
    margin-bottom: -35px;
}
.banner-css1 {
    background-image: url(../img/staticPage/bannerGui.png) !important;
    background-position: 900px 0px !important;
    margin-bottom: -35px;
}
.banner-css2 {
    background-image: url(../img/staticPage/bannerFaq.png) !important;
    background-position: 900px 0px !important;
    margin-bottom: -35px;
}
.makeProContent{
    width: 1160px;
    padding-bottom: 50px;
    overflow: hidden;

}
.floatClear{
    clear: both;
}
.makeProLeft{
width: 15%;
    float: left;

}
.makeProRight{
    width: 82%;
    float: left;

}
.aLeft{
    color: #4072B3;
    text-decoration: none;
    line-height: 2.2;
}
.contentRight{

}
.contentRightNumber {
    color: #4072B3;
    float: left;
    width: 20px;
}
.contentRightText{
color: #747272; float: left;
}
.contentRightInner{
    float: left;
    width: 920px;
}
.myHr{
    color: #4072B3;
    background: #4072B3;

    height: 1px;
}
.newline{
    padding-bottom: 10px;
    padding-top: 10px;
}
.correctBg{
    background-image: url(../img/staticPage/correct.png) !important;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;

}
.divp1{
    padding-left: 30px;
}
.divAsteris{
    color: #4072B3;
}
.div4Bg{
    background-color: rgba(235,134,134,0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;


}
.div4Bg >p:first-child {
    margin-left: -5px;
    padding-bottom: 15px;
}
.newline1{
    padding-bottom: 5px;
    padding-top: 5px;
}
.moreNumber11{
    padding-left: 20px;
}
.divBigButton1{
    padding: 10px;
    background-color: #AEC4E5;
    width: 920px;
}
.divBigButton2{
    margin: auto;
    /* width: 521px; */
    height: 30px;
    /* background-color: #ccc; */
    border: #fbfbfb 1px solid;
    text-align: center;
    line-height: 30px;
    cursor:pointer ;
    color: #ffffff;
}

/*FAQ*/
.searchLeft {

    border: 0px solid #4072B3 !important;

}
.faqSearch{
    text-align: center;
    margin-bottom: 50px;
}
.divSearchLeft {
    font-size: 17px;
    border: 1px solid #4072B3;
    border-radius: 24px !important;
    margin: 15px auto;
    width: 400px;
}
.faq-form-search {
    background: #ffffff;
    border-radius: 23px  !important;

}
.faq2Bt {

    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.faq2Bt1 {
    background-color: #4072B3;
    width: 500px;
    float: left;
    height: 136px;
    margin-right: 5px;
}

.faq2BtInner {

    height: 127px;
    margin: 4px;
    border: #fff solid 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.faqTitle2{
    margin-top: 127px;
    margin-bottom: 30px;
    color: #726868;
    text-align: center;
}
.faqDivBelowTitle{
    border: #4072B3 solid 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.faqDivBelowTitleChild{

}
.faqEndChild{
    color: #EB8686;
}
.faqHr{
    color: #C0C0C0;
    background: #C0C0C0;
    height: 1px;
}

.fqaShowTip{
    background: rgba(174,196,229,0.2);
    margin-bottom: 20px;
    margin-top: -14px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}