@charset "utf-8";




/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

  .form-search {
    background: #ffffff;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
  }

 .text-leave{
   display: block;
   text-align: right;
   font-size: 16px;
 }
 .center-text {
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .limit-width {
   float: left;
   width: calc( 100% - 270px );
 }
 .hidden-tr {
   position: absolute;
   width: 0;
   height: 0;
   overflow: hidden;
 }
 .loading-style {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -32px;
   margin-left: -32px;
   z-index: 2;
 }
 .loading-style .lds-roller div:after {
    background: #fff;
 }
 .text-leave:hover span{
   text-decoration: underline;
   color: red;
 }

 .admin-noti .personal-panel.personal-panel-width {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px;
 }
  .admin-noti .personal-panel.personal-panel-width li {
    padding: 5px;
    overflow: hidden;

  }

  .admin-noti .personal-panel.personal-panel-width li  a {
    padding: 0;
  }
  .admin-noti .personal-panel.personal-panel-width li:hover a .notification-text{
    text-decoration: underline;
  }
 .admin-noti .personal-panel-width .notification-text {
    float: left;
    padding-left: 15px;
    width: calc( 100% - 175px );
    min-height: auto;
 }
 .admin-noti .personal-panel-width .notification-text2 {
    width: auto;
 }
.personal-panel.personal-panel-width.notification-list li.noti-list {
  background: none;
  border: none;
}
.personal-panel.personal-panel-width.notification-list li.noti-list p {
  background: none;
  text-align: center;
  padding: 20px;
}
 body .rodal-close {
   position: absolute;
   right: -15px;
   top: -15px;
   width: 32px;
   height: 32px;
   opacity: 0.9;
   background: #fff;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
  }
  body .rodal-close:hover {
    opacity: 1;
  }
  body .rodal-close:before, body .rodal-close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 25px;
      width: 2px;
      background-color: #333;
      top: 6px;
    }
  body .rodal-close:before {
    transform: rotate(45deg);
  }
  body .rodal-close:after {
    transform: rotate(-45deg);
  }

  .question{
    position: absolute;
    top: 50%;
    right: -14px;
    margin-top: -14px;
    cursor: pointer;
  }
  .question i {

  }
  .cvc-input{
    padding-right: 10px;
  }
  .text-danger {
    display: block;
  }
  .cvc-input-stripe .show-pass{
    right: 45px;
  }
  .cvc-input-stripe .question{
    right: 6px;
  }
  .cvc-input-stripe .cvc-input {
    padding-right: 0;
  }
  .show-pass {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -12px;
    cursor: pointer;
  }
  .show-pass i.icss-eye , .show-pass i.icss-eye-slash {
    font-size: 22px;
    color: #ddd;
  }

  .text-stop {
    margin-bottom: 20px;
  }
  .headContent {
    position: relative;
  }
  .rodal-dialog {
    /* overflow: auto; */
  }
  .icss-home.home-menu-mobi {
    margin: 0;
    margin-right: 14px;
    margin-top: 3px;
  }

  .div-content img{
    display: block;
    margin: 7px auto;
    max-width: 90%;
  }
  .div-content p::after  , .div-content pre::after  , .div-content h1::after  , .div-content h2::after  , .div-content h3::after  , .div-content h4::after  , .div-content h5::after  , .div-content h6::after  , .div-content ul::after  , .div-content ol::after  {
    content: "";
    clear: both;
    display: table;
    margin:5px 0;
  }

  .white-page .return-list p {
    padding: 0;
    border: none;
    text-align: left;
    color: #222;
    margin-bottom: 0;
  }
  .cover-no-blank .main-public.main {
    width: 100%;
    padding: 0 40px;
  }
  .full-content-popup .rodal-dialog .pd-area {
    padding-top: 40px;
  }
  .rodal-dialog .pd-area {
    padding-top: 0;
  }



  .rdw-editor-main {
    max-height: 500px;
  }
 /* The container */
 .container-checkbox {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 12px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   line-height: 25px;
 }

 /* Hide the browser's default checkbox */
 .container-checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }

 /* Create a custom checkbox */
 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
 }

 /* On mouse-over, add a grey background color */
 .container-checkbox:hover input ~ .checkmark {
   background-color: #ccc;
 }

 /* When the checkbox is checked, add a blue background */
 .container-checkbox input:checked ~ .checkmark {
   background-color: #2196F3;
 }

 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the checkmark when checked */
 .container-checkbox input:checked ~ .checkmark:after {
   display: block;
 }

 /* Style the checkmark/indicator */
 .container-checkbox .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }




   .text-center-popup {
      display: block;
      padding: 40px 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
   }
   .cover-checkbox-pop {
     display: block;
   }
   .icss-stack {
     font-size: 24px;
   }
   .to-all {
      padding: 10px;
      display: block;
      color: #0071BA;
      text-decoration: none;
      border-top:1px solid #ddd;
      font-size: 12px;
   }
   #header .headInfo .menu .per-name a.to-all-sp {
     color: #0071BA;
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 12px;
    background: #fff;
    left: 100%;

   }
   #header .headInfo .menu.active .per-name a.to-all-sp {
     left: 0;
   }
   .to-all:hover {
     text-decoration: underline;
   }
   .static-noti .title-noti{
      font-size: 25px;
      padding-bottom: 15px;
   }
   .static-noti .cover-paginate {
      padding-top: 20px;
      padding-bottom: 0;
      float: left;
   }
   .white-page .static-noti p {
    padding: 0;
    border: none;
    margin: 0;
   }
   .title-noti {
      display: block;
      padding: 20px 0;
      font-size: 20px;
      color: #0071BA;
   }
   .calendar-time {
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     align-items: center;
     float: right;
   }
   .calendar-time.calendar-fix {
         width: 238px;
   }
   .calendar-time.calendar-fix .text-leave{
     float: left;
     background: #eee;
     font-size: 10px;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 1px;
   }
   .calendar-time.calendar-fix .text-leave svg {
         color: cadetblue;
   }
   .calendar-time.calendar-fix  .time-text {
      font-size: 12px;
      color: #333;
      line-height: 27px;
   }
   .time-text {
     font-weight: 600;
     margin-left: 5px;
     float: right;
     font-size: 12px;
   }

   .personal-panel.personal-panel-width {
      width: 380px;
   }
   .personal-panel.personal-panel-width.notification-list {
      width: 100%;
      position: relative;
      top: auto;
      left: auto;
      border: none;
      border-radius: 0px;
      right: auto;
   }
   .personal-panel.personal-panel-width.notification-list li {
     overflow: hidden;
     border-bottom: 1px solid #ddd;
   }
   .personal-panel.personal-panel-width .notification-image {
      float: left;
      width: 40px;
   }
   .personal-panel.personal-panel-width .notification-image img{
     height: auto;
   }
   .project-detail-bread.cover-Breadcrumbs {
      margin: 30px 0;
   }
  .bread-crums li {
    display: inline-block;
    color: #707070;
  }
  .bread-crums li a {
    color: #4267b2;
    margin-right: 5px;
    text-decoration: none;
  }
  .bread-crums li a:hover {
    text-decoration: underline;
  }

  .bread-crums li a.breadcrumb-link {
    text-decoration: none;
    color: #707070;
  }
  .cover-Breadcrumbs {
    margin: 10px 0;
  }
  .dark-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 999999
  }
.loading-chart {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;

}

ul {
    list-style: none;
}

.wraper {
    width: 1160px;
    margin: 0 auto;
}
.wrap-content, .wrap-content-inner, .wraper-small {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.wraper-small {
    max-width: 860px;
}
@media (min-width: 861px) {
    .wrap-content, .wrap-content-inner {
        padding: 0 50px;
    }
}
.wrap-content-inner {
    max-width: 1775px;
}
.wrap-content-inner .wrap-content-inner {
    padding-right: 0;
    padding-left: 0;
}
.wrap-content {
    max-width: 1380px;
}
.cover-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
}

.label-no-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background: #ddd;
  padding: 5px;
  z-index: 1;
}
.gutter-18-sm .label-no-active, .gutter-18-sm .label-active {
    top: 1px;
    left: 7px;
}
@media (min-width: 768px) {
    .gutter-18-sm .label-no-active, .gutter-18-sm .label-active {
        left: 10px;
    }
}
.label-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background: #ffc95c;
  padding: 5px;
  z-index: 1;
}
.label-wait {
  background: #d60;
}
body .image-gallery-thumbnails {
    width: 1400px;
    margin: 0 auto;
}

#header {
    padding: 0px 15px 4px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#header:after {
    content: "";
    display: table;
    clear: both;
}

#header .headContent:after {
    content: "";
    display: table;
    clear: both;
}

#header .headInfo {
    float: right;
    padding-right: 150px;
}
#header .headInfo.header-nav {
    float: none;
    padding-right: 0;
}

.hamburger {
    z-index: 10;
    top: 8px;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-color: #4072B3
}

.hamburger,.hamburger-bar {
    position: absolute;
    right: 0;
    display: block;
    -webkit-transition: all .3s cubic-bezier(1,0,0,1);
    transition: all .3s cubic-bezier(1,0,0,1)
}

.hamburger-bar {
    left: 0;
    width: 20px;
    height: 3px;
    margin: auto;
    background-color: #fff
}

.hamburger-bar-1 {
    top: 17px
}

.hamburger-bar-2 {
    top: 24px
}

.hamburger-bar-3 {
    top: 31px
}

.hamburger.open .hamburger-bar-1 {
    top: 50%;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg)
}

.hamburger.open .hamburger-bar-2 {
    width: 0
}

.hamburger.open .hamburger-bar-3 {
    top: 50%;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg)
}

.hamburger-nav {
    display: none;
}

#header .btn-login {
    margin-left: 5px;
}

@media (min-width: 861px) and (max-width: 920px) {
    #header .btn-login {
        padding: 15px;
    }
}

.heart-list{
  font-size: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  position: relative;
  margin-right: 10px;
}
.heart-list .personal-panel {
  top:40px;
  right: -14px;
}
.notification-list .personal-panel {
  top: 50px;
  right: -5px;
}
#header .headInfo.no-auth {
  padding-right: 20px;
}
#header .headInfo:after {
    content: "";
    display: table;
    clear: both;
}

#header .headInfo .menu li a , #header .headInfo .menu li .link-here , #header .headInfo .menu li .top-link{
    text-decoration: none;
    color: #707070;
    font-size: 17px;
    width: 180px;
    border-radius: 4px;
    padding: 8px 0;
    display: block;
    letter-spacing: 0.5px;
    transition: all 0.25s;
    cursor: pointer;
    position: relative;
}

#header .menu li .top-link.active .imgHover {
    opacity: 1;
}


#header .headInfo .menu li:hover .top-link:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#header .headInfo .menu li:hover .top-link:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #0071BA;
	border-width: 8px;
}
#header .headInfo .menu li:hover .top-link:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #0071BA;
	border-width: 10px;
	margin-left: -10px;
}

#header .headInfo .menu li .top-link, #header .headInfo .menu li a{
    width: 100%;
    padding: 8px 20px;
}

#header .headInfo .menu li .nav-item {
    padding: 25px 40px;
    margin-bottom: -3px;
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#header .headInfo .menu li .link-face {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
    display: block;
    letter-spacing: 0.5px;
    transition: all 0.25s;
    cursor: pointer;
}


#header .headInfo .menu li .link-face.active {
    background: #0071BA;
    color: #fff;
}
#header .headInfo .menu li:hover a , #header .headInfo .menu li:hover .top-link {
    background: #0071BA;
    color: #fff;
}
#header .headInfo .menu li:hover .link-face {
    background: #0071BA;
    color: #fff;
}

#header .headInfo .menu li .span-link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    width: 180px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
    display: block;
    letter-spacing: 0.5px;
    transition: all 0.25s;
    cursor: pointer;
}


#header .headInfo .menu li .span-link.active {
    background: #0071BA;
    color: #fff;
}


#header .headInfo .search {
    float: left;
    position: relative;
    width: 217px;
    margin-top: 25px;
}

#header .headInfo .search input[type="text"] {
    padding-left: 40px;
    border: none;
    background: #f4f4f4;
    border-radius: 9px;
    height: 29px;
    width: 100%;
}

#header .headInfo .search input::-webkit-input-placeholder {
    font-size: 12px;
}

#header .headInfo .search input::-moz-placeholder {
    font-size: 12px;
}

#header .headInfo .search input:-ms-input-placeholder {
    font-size: 12px;
}

#header .headInfo .search input:-moz-placeholder {
    font-size: 12px;
}

#header .headInfo .search input[type="submit"] {
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    width: 30px;
    border: none;
    background: url(../img/common/search.png) no-repeat center;
}

#header .headInfo .signIn {
    float: right;
    margin-top: 25px;
    background: #183d77;
    width: 182px;
    border-radius: 12px;
    text-align: center;
    margin-left: 15px;
}

#header .headInfo .signIn .aSign {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
}

#header .headInfo .signIn:hover * {
    text-decoration: underline;
}

.btn {
    color: white;
    text-align: center;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    border-radius: 3px;
}

.btn:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
    left: 0;
}
.btn:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.btn.btn-small {
    font-size: 12px;
    padding: 8px 10px;
}
.btn.btn-small .fas{
    margin-left: 5px;
    margin-right: 0;
}

.btn.btn-medium {
    font-size: 14px;
    padding: 13px 25px;
}

.btn.btn-medium .fas{
    margin-left: 10px;
    margin-right: 0;
}

.btn.btn-large {
    font-size: 18px;
    padding: 15px 30px;
}
.btn.btn-large .fas{
    margin-left: 10px;
    margin-right: 0;
}

.btn.btn-xlarge {
     font-size: 22px;
     padding: 0 25px;
}
.btn.btn-xlarge .fas {
    margin-left: 10px;
    margin-right: 0;
}

.btn.btn-blue:before {
    background-color: #4072B3;
}


#footer {
    background: #7197d0;
}
#footer .blkAds {
    padding: 20px 0;
    background-color: #4072b3;
    color: #fff;
    font-size: 1.8vw;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .btn:hover{
        color: white;
    }

    .btn:after {
        transition: 0.3s all ease;
        transform: scaleX(0);
    }

    .btn.btn-large {
        font-size: 17px;
    }

    .btn.btn-xlarge {
        padding: 15px 40px;
    }

    .btn.btn-xlarge .fas {
        margin-left: 15px;
    }

    .btn.btn-blue:hover:after {
        transform: scaleY(1);
        background-color: #477DC3;
    }

    .bread-crums li {
        font-size: 18px;
    }
}

@media (min-width: 1367px) {
    .btn:hover{
        color: white;
    }

    .btn:after {
        transition: 0.3s all ease;
        transform: scaleX(0);
    }

    .btn.btn-large {
        font-size: 20px;
    }

    .btn.btn-xlarge {
        padding: 20px 40px;
    }

    .btn.btn-xlarge .fas {
        margin-left: 15px;
    }

    .btn.btn-blue:hover:after {
        transform: scaleY(1);
        background-color: #477DC3;
    }

    .bread-crums li {
        font-size: 18px;
    }
}

.truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-grid, .row-flex {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-grid.grid-ads {
    margin-right: -12px;
    margin-left: -12px;
}

.row-grid:after{
    content: '';
    display: block;
    clear: both;
}

.row-grid .card {
    height: 100%;
}

.gutter-52-md {
    margin-left: -12px;
    margin-right: -12px;
}

.gutter-52-md > [class^="col-"], .gutter-52-md > [class*=" col-"] {
    padding-left: 12px;
    padding-right: 12px;
}

.l-grid-nav {
    margin-left: -5px;
    margin-right: -5px;
}

.l-grid-nav > [class^="nav-block-"], .l-grid-nav > [class*=" nav-block-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.card .lazy-load-image-background {
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-title, .l-tb-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.l-tb-flex-item {
    flex: 1 100%;
}

.card-title {
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}

.card-intro {
    width: 100%;
}

.label-ico {
    width: 18px;
}

.post-sidebar {
    width: 100%;
}

@media (min-width: 992px) {
    .label-ico {
        width: 20px;
        vertical-align: middle;
        margin-top: -6px;
    }

    .row-grid.grid-ads {
        margin-right: -26px;
        margin-left: -26px;
    }
}

.card-content {
    padding: 10px;
}

@media (min-width: 480px) {
    .card-content {
        padding: 10px 15px;
    }
}

.blk-area {
    margin-bottom: 25px;
    overflow: hidden;
}

.area.blk-area {
    padding-top: 0;
    padding-bottom: 0;
}

.area-title {
    font-size: 14px;
    margin-bottom: 16px;
    color: #707070;
    font-weight: normal;
}

.card-content .card-content-title {
    font-size: 15px;
    font-weight: bold;
}

.card-content .LinesEllipsis {
    margin-bottom: 15px;
}

.card-content a {
    text-decoration: none;
    color: #4E4C4C;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-6 {
    -ms-flex: 0 0 calc(100%/2 - 0px);
    flex: 0 0 calc(100%/2 - 0px);
    max-width: calc(100%/2 - 0px);
}

.grid-list-card {
    margin-left: -9px;
    margin-right: -9px;
}

.grid-list-card > [class^="col-"], .grid-list-card > [class*=" col-"] {
    padding-left: 9px;
    padding-right: 9px;
}

.list-grid .list-grid-item:first-child {
    margin-top: 0;
}

.footer-nav-block {
    margin-bottom: 25px;
}

.footer-nav-title {
    font-size: 18px;
    margin-bottom: 15px;
    color: #F2EFEF;
}

.nav-list-grid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav-list-grid {
    margin-left: -5px;
    margin-right: -5px;
}

.nav-list-grid .footer-nav-list {
    padding-left: 5px;
    padding-right: 5px;
}

.footer-nav-link {
    color: #F2EFEF;
    font-size: 12px;
    font-family: "Hiragino Kaku Gothic ProN";
    text-decoration: none;
    transition: .3s;
    padding: 1px 0;
    display: inline-block;
}

.l-grid-card {
    margin-left: -6px;
    margin-right: -6px;
}

.l-grid-card.gutter-18-sm .grid-item,
.l-grid-card .grid-card-item {
    margin-left: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.gutter-18-sm .grid-item:first-child {
    margin-left: 0;
}

.l-grid-group {
    padding: 0 9px;
}

.l-grid-group .grid-item {
    background-color: #4072B3;
    padding: 10px;
    position: relative;
    margin-left: -10px;
    margin-bottom: -10px;
}

.l-grid-group .grid-item:first-child {
    margin-left: 0;
}

.l-grid-box {
    border: 3px solid #4072B3;
    padding: 17px 18px;
}

@media (min-width: 768px) {
    .l-grid-box {
        padding: 17px 36px;
    }
}

@media (min-width: 992px) {
    .l-grid-box {
        border: 5px solid #4072B3;
        padding: 37px 56px;
    }
}

@media (max-width: 767px) {
    #header .logo {
        width: 195px;
    }

    .rowBot.l-tb-flex {
        flex-direction: column;
        text-align: left;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .gutter-18-grid-sm {
        margin-right: -9px;
    }

    .l-grid-group {
        padding: 0 0 10px;
    }
    #footer .blkAds {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .l-grid-news .col-lg-3:nth-child(5),
    .l-grid-news .col-lg-3:nth-child(6) {
        display: none;
    }
    .wrap-content, .wrap-content-inner, .wraper-small {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
}

.l-grid-group .card, .l-grid-box .card, .l-grid-card .card, .l-grid-group-ads .card {
    background-color: #fff;
    border: 1px solid #707070;
    height: 100%;
}

.l-grid-card .grid-card-item {
    padding-bottom: 18px;
}

.l-grid-box .card-news {
    padding: 15px;
}

.card-news a {
    color: #726C6C;
    text-decoration: none;
}

.card-news .postTitle {
    font-size: 15px;
}

.card-news-intro {
    margin-bottom: 25px;
}

.post-date {
    color: #C0C0C0;
}

@media (min-width: 992px) {
    .card-news-intro {
        margin-bottom: 35px;
    }

    .card-news .postTitle {
        font-size: 19px;
    }
}

.l-grid-group-ads {
    padding: 30px 18px;
    background-color: #4072B3;
}

.l-grid-flex {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.mar-center {
    margin: 0 auto;
}

.box-company {
    border: 3px solid #EAF0F6;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 25px;
}

.box-company .post-social {
    text-align: center;
}

.box {
    margin-bottom: 25px;
}

.box-title {
    font-weight: bold;
    font-size: 20px;
    color: #726C6C;
    margin-bottom: 15px;
}

.search-box {
    font-size: 16px;
    padding: 12px;
    width: 100%;
    border-radius: 7px;
    -webkit-appearance: none;
    border: 1px solid #BCB7B7;
}

.box-tag {
    margin-right: -5px;
}

.box-tag .tag {
    border: 1px solid #D3C5C5;
    display: inline-block;
    font-size: 12px;
    padding: 15px 20px;
    font-weight: bold;
    text-decoration: none;
    color: #726C6C;
    border-radius: 7px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.post-list {
    margin-bottom: 20px;
}

.l-list-normal li {
    border-bottom: 2px solid #C0C0C0;
    margin-bottom: 5px;
}

.l-list-normal .l-list-normal-link {
    display: block;
    padding: 5px 0;
    color: #938D8D;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.direction-link {
    font-size: 15px;
    font-weight: bold;
    color: #AFAAAA;
    padding: 0 10px 5px;
    text-decoration: none;
    transition: .3s;
    border-bottom: 2px solid #4072B3;
}

@media (min-width: 768px) {
    .l-grid-group .grid-item {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .l-grid-group {
        padding-bottom: 20px;
    }

    .l-grid-flex-md {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .box {
        padding-left: 15px;
        padding-right: 15px;
    }

    .box-tag .tag {
        padding: 13px 15px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .l-grid-group-ads {
        padding: 35px 25px;
    }

    .l-grid-group {
        padding-bottom: 23px;
    }

    .l-grid-group .grid-item {
        padding-top: 23px;
        padding-bottom: 23px;
        margin-bottom: -23px;
    }

    .box-company {
        border: 5px solid #EAF0F6;
        border-radius: 12px;
        margin-bottom: 36px;
    }

    .box {
        margin-bottom: 36px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .box-tag .tag {
        padding: 13px 22px;
    }

    .l-list-normal .l-list-normal-link {
        display: inline-block;
    }

    .l-list-normal .l-list-normal-link:hover,
    .direction-link:hover {
        color: #d6d6d6;
    }
}

@media (min-width: 1286px) {
    .box-tag .tag {
        padding: 17px 34px;
        font-size: 15px;
        min-width: 123px;
    }
}

.l-grid-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.l-grid-flex-md .l-grid-list-item:first-child {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .l-grid-flex-md .l-grid-list-item:first-child {
        margin-bottom: 0;
    }
}

.buttonLogin {
    background-color: #f76464;
    padding: 15px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    min-width: 210px;
    transition: .3s;
    text-align: center;
}

.btn-square-soft {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  min-width: 210px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(#f76464 0%, #d25050 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn-square-soft:active {
  /*押したとぁE/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈縺Eように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#f76464 0%, #f76464 100%);/*グラチE?Eションを諱Eるく*/
}

@media (min-width: 768px) {
    .buttonLogin:hover {
        background-color: #f48b8b;
    }
}

@media (min-width: 992px) {
    .buttonLogin {
        font-size: 20px;
        padding: 20px 15px;
        min-width: 312px;
    }
    .btn-square-soft {
	  display: inline-block;
	  position: relative;
	  text-decoration: none;
	  color: #ffffff;
      font-size: 20px;
	  min-width: 312px;
	  line-height: 50px;
	  border-radius: 5px;
	  text-align: center;
	  overflow: hidden;
	  background: linear-gradient(#f76464 0%, #d25050 100%);
	  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	}
}

@media (min-width: 992px) {
    #footer .blkAds {
        padding: 20px 0;
        margin-bottom: 25px;
        font-size: 1.5vw;
    }
}
#footer .subRow:after {
    content: "";
    display: table;
    clear: both;
}

#footer .colLeft {
    float: left;
    width: 460px;
}

#footer .colLeft .footerNavImg {
    width: 135px;
}

#footer .colLeft.colLeft2 {
    width: 45%;
}

#footer .colLeft.colLeft2, #footer .colLeft.colLeft3 {
    width: 21%;
    /*width: 500px;*/
}

#footer .colLeft.colLeft2 .title, #footer .colLeft.colLeft3 .title {
    background: transparent;
    padding-left: 0;
}

#footer .colLeft.colLeft2 .listCat {
    width: 280px;
    display: inline-block;
    vertical-align: top;
}

#footer .colLeft.colLeft2 .listCat.listCat2 {
    width: 150px;
}

#footer .colLeft .title {
    font-weight: bold;
    color: #fff;
    background: url(../img/common/search-menu.png) no-repeat center left;
    background-size: 18px;
    padding-left: 22px;
    font-size: 14px;
}

#footer .colLeft ul li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-bottom: 2px;
}

#footer .colLeft ul li a {
    text-decoration: none;
    color: #dedede;
    font-size: 12px;
    transition: all 0.25s;
}

#footer .colLeft ul li a:hover {
    opacity: .5;
}

#footer .sns {
    float: right;
    margin: 42px 0 0 -8px;
}

#footer .sns li {
    margin-bottom: 20px;
}

#footer #copyright {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 82px;
    color: #fff;
    padding: 12px;
}

.sp {
    display: none;
}


.subMenu {
    position: absolute;
    top: 115%;
    background: #0071BA;
    color: #fff;
    width: 440px;
    left: 0;
    right: 0;
    padding-top:35px;
    padding-bottom: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 200ms linear;
}

.sub-nav-wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#header .headContent {
    padding-left: 0;
    padding-right: 0;
}

#header .wrap-content-inner {
    max-width: 1775px;
}

#header .headInfo .menu li:hover .top-link > .subMenu,
#header .headInfo .menu li:hover a > .subMenu {
    transform: scaleY(1);
}

.menu .menuImgItem {
    position: relative;
}

.menu .menuImgItem img {
    width: 120px;
}

.menu .menuImgItem .imgHover {
    position: absolute;
    top: -3px;
    left: 0;
    opacity: 0;
    transition: .3s;
}

#header .menu li:hover .menuImgItem .imgHover {
    opacity: 1;
}

.subMenu .titleSub {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
}

.subMenu .titleSub:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url(../img/common/search-menu.png) no-repeat center left /100% 100%;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.subMenu .menuSub {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}
.subMenu .menuSub.just-link {
  margin-top: 0;
}

.subMenu .menuSub li {
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

#header .headInfo .menu .subMenu .menuSub li {
    padding: 0;
    width: 100%;
}

#header .headInfo .menu .subMenu .menuSub li:nth-child(3n) {
    margin-right: 0;
}

#header .headInfo .menu .subMenu .menuSub a,
#header .headInfo .menu .subMenu .menuSub2 a,
#header .headInfo .menu .subMenu .menuSub2 .link-face {
    font-size: 16px;
    color: #fff;
    width: 100%;
    transition: all 0.25s;
    text-align: left;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

#header .headInfo .menu .subMenu .menuSub .nav-link {
    width: auto;
    display: inline-block;
}

#header .headInfo .menu .subMenu .menuSub li:hover a,
#header .headInfo .menu .subMenu .menuSub2 li:hover a,
#header .headInfo .menu .subMenu .menuSub li:hover .link-face,
#header .headInfo .menu .subMenu .menuSub2 li:hover .link-face {
  opacity: .5;
}

#header .headInfo .menu .subMenu .menuSub2 {
  border-top: 2px solid #fff;
  margin-top: 20px;
  padding-top: 20px;
}

#header .headInfo .menu .subMenu .menuSub2 li {
    position: relative;
    padding: 0;
    margin: 0 25px;
}



#header .headInfo .menu .subMenu .menuSub2 li:last-child:after {
    content: none;
}

#header .headInfo .menu .subMenu .menuSub2 li a , #header .headInfo .menu .subMenu .menuSub2 li .face-link {
    letter-spacing: 1px;
}

.dropdown-menu {
  position: absolute;
  display: block;
  z-index: 1;
  right:0;
  top: 60px;
  min-height: 10px;
  min-width: 10px;
  width: 280px;
  -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.18);
  border-radius: 20px;
}
.personal-panel .dropdown-header {
  background: #fff;
  padding: 15px;
  position: relative;
  text-align: center;
  color: #747f8b;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  border: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  -moz-border-image: -moz-linear-gradient(right, #fff, #cedae0, #cedae0, #fff) 1 20%;
  -o-border-image: -o-linear-gradient(right, #fff, #cedae0, #cedae0, #fff) 1 20%;
  border-image: linear-gradient(to right, #fff 0%, #cedae0 40%, #cedae0 60%, #fff 100%) 1 20%;

}
.dropdown-menu .dropdown-header .triangle {
  position: absolute;
  top: -8px;
  right: 15px;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  background: #fff;
}
.dropdown-menu .dropdown-header .count {
  position: static;
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 24px;
  margin-left: 8px;
  font-size: 12px;
  vertical-align: middle;
}
.dropdown-menu .dropdown-body {
  max-height: 292px;
  background: #e9f0f3;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0px 0px 10px 10px;
}
.personal-panel-width .notification {
  float: left;
  width: 100%;
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}
.personal-panel-width .notification:last-child {
  border-bottom: none;
}
.personal-panel-width .notification.no-noti {
  border: none;
}

.dropdown-menu .dropdown-body .notification.new {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #e9f0f3;
}
.dropdown-menu .dropdown-body .notification .notification-image-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.dropdown-menu .dropdown-body .notification .notification-image {
  display: inline-block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 100%;
}
.personal-panel-width .notification-text {
  text-align: left;
  padding-left: 50px;
  color: #333;
  min-height: 36px;
  font-weight: normal;
}
.personal-panel-width .text-name {
  font-weight: bold;
}

/*AFTER LOGIN*/
.avatar {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;

}
.notification-list {
  border: none;
  background: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  justify-content: center;
  height: 45px;
  color: #ddd;
  position: relative;
  align-items: center;
}
.number-no {
  display: block;
  padding: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  background: #fc3d39;
  z-index: 7;
  color: #fff;
  font-size: 10px;
  top: 3px;
  right: 3px;
  min-width: 20px;
}

.avatar .avatar-img {
  float: right;
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.avatar .avatar-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.personal-panel {
    position: absolute;
    top: 82px;
    right: 0;
    background: #fff;
    border: 1px solid #dbdbdb;
    width: 200px;
    border-radius: 10px;
    display: none;
}
.personal-panel.desktop-notification {
  border-radius: 0;
}

.personal-panel.active {
    display: block;
}

.personal-panel ul li:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

.personal-panel ul li a {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #000;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    padding-left: 10px;
    background: no-repeat left 23px center;
    transition: all 200ms linear;
    text-align: right;
    width: 100%;
    text-align: left;
}

.personal-panel ul li:hover {
    background-color: #f5f5f5;
}
.personal-panel ul li:first-child
{
  border-radius: 10px 10px 0 0;
}
.personal-panel ul li:last-child
{
  border-radius: 0 0 10px 10px;
}

.personal-panel ul .name-row a:hover {
    background-color: #f5f5f5;
}

.personal-panel ul li .name {
    font-weight: bold;
}

.personal-panel ul .name-row a {
    background: #fff url('../img/common/ico-arrow.png') no-repeat right 10px center;
    position: relative;
}

.personal-panel ul .name-row a {
    padding: 9px 0;
    padding-left: 20px;
    padding-right: 23px;
    font-size: 12px;
    border-radius: 10px 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.personal-panel ul li p{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.personal-panel ul .name-row a span {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.personal-panel ul .name-row:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.personal-panel ul .name-row:before {
    content: "";
    position: absolute;
    top: -12px;
    right: 13px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #dbdbdb;
}

.navjs span {
    padding-left: 10px;
}
.nav-here .navjs li a svg {
  font-size: 16px;
  margin: 0;
}

.blk-group-nav {
    border-top: 10px solid #4072B3;
    background-color: #E7EDF5;
    padding: 15px 15px 35px;
    margin-bottom: 25px;
}

.list-nav {
    font-size: 16px;
}

.list-nav .list-nav-item {
    border-bottom: 2px solid #C0C0C0;
}

.list-nav .list-nav-item-link {
    text-decoration: none;
    color: #707070;
    display: block;
    padding: 10px 0;
}

.leftMenuProject {
    display: none;
}

.icon-splash {
    font-size: 18px;
    vertical-align: middle;
    margin-top: -2px;
    color: #707070;
    margin-left: 5px;
    margin-right: 8px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.wrap-intro {
    text-align: center;
    margin-bottom: 20px;
}

.btn-social {
    cursor: pointer;
    transition: .3s;
    display: inline-block;
    margin-left: 15px;
}

.btn-share {
    font-size: 16px;
    color: #414040;
    font-weight: bold;
}

.btn-share-fb svg {
    color: #475993;
    margin-right: 10px;
    font-size: 28px;
    vertical-align: middle;
    margin-top: -5px;
}

.btn-share-twitter svg {
    color: #76A9EA;
    margin-right: 10px;
    font-size: 28px;
    vertical-align: middle;
    margin-top: -3px;
}

.btn-share-line {
    background-color: #93CE81;
    padding: 3px 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
    min-width: 125px;
}

.btn-share-embedded {
    background-color: #B4AFAF;
    padding: 3px 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
    min-width: 125px;
}

.card-bor {
    border: 1px solid #4072B3;
    padding: 25px 30px;
}

.card-bor-icon {
    width: 50px;
}

.card-bor-num {
    font-size: 20px;
    font-weight: bold;
}

.card-bor-content {
    font-size: 16px;
}

.l-grid-card-bor {
    margin-left: -2px;
    margin-right: -2px;
}

.l-grid-card-bor-item {
    margin-bottom: -1px;
    padding-left: 2px;
    padding-right: 2px;
}

.l-grid-card-bor .l-grid-card-bor-item {
    width: 100%;
}

.l-grid-card-bor-item .card-bor {
    height: 100%;
}

.list-qa {
    background-color: #fff;
    padding: 25px 30px;
}

.list-qa-header {
    color: #fff;
    text-align: center;
    background-color: #AEC4E5;
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 10px;
}

.list-qa-item {
    font-size: 16px;
    padding: 16px 0 10px;
    border-bottom: 2px solid #C0C0C0;
}

.list-qa-content {
    margin-bottom: 15px;
}

.wrap-link {
    text-align: center;
    padding: 30px 15px 50px;
}

.link-read-more {
    font-size: 16px;
    color: #4072B3;
    transition: .3s;
    text-decoration: none;
}

@media (max-width: 860px) {
    #header .headInfo.header-nav .menu.pc, #header .cell-button {
        display: none;
    }

    #header .logo {
        width: 150px;
        padding-left: 0;
        margin-top: 0;
    }

    .header-content-inner {
        padding: 20px 0;
    }

    .hamburger-nav {
        display: block;
    }

    #header {
        height: 70px;
    }

    #content {
        margin-top: 70px;
    }

    #header .headInfo .menu.active {
        left: 0;
        overflow-y: auto;
    }

    #header .headInfo .menu {
        width: 100%;
        position: fixed;
        left: 100%;
        top: 70px;
        bottom: 0;
        margin: 0;
        z-index: 999991;
        padding: 0;
        background: #0071BA;
        transition: all 200ms linear;
    }

    #header .headInfo .menu li .span-link {
        width: 100%;
        text-align: left;
        color: #fff;
        padding: 31px 4%;
        background: url('../img/common/ico-plus.png') no-repeat right 4% center;
        font-size: 16px;
    }

    #header .headInfo .menu li:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

    #header .nav-sp .imgItem {
        width: 107px;
    }

    .notification-list {
        position: absolute;
        top: 20px;
        right: 60px;
    }
}

@media (max-width: 991px) {
    .list-grid-item {
        margin-bottom: 15px;
        width: 100%;
    }

    .list-grid .list-grid-item:last-child {
        margin-bottom: 0;
    }

    .list-grid-item .card-intro img {
        width: 100%;
    }

    .list-grid-item .lazy-load-image-background {
        width: 100%;
    }

    .area-title .classATop {
        display: none;
    }
}

@media (min-width: 1500px) {
    .card-content .card-content-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: 451px) {
    .l-card-flex {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    .card-bor-icon {
        width: 16.6858457998%;
        max-width: 145px;
    }

    .card-bor-content {
        width: 69%;
    }
}

@media (min-width: 768px) {
    .gutter-18-sm {
        margin-left: -9px;
        margin-right: -9px;
    }

    .gutter-18-grid-sm {
        margin-left: -9px;
        margin-right: -63px;
    }

    .gutter-18-sm > [class^="col-"], .gutter-18-sm > [class*=" col-"] {
        padding-left: 9px;
        padding-right: 9px;
    }

    .gutter-30-sm {
        margin-left: -15px;
        margin-right: -15px;
    }

    .gutter-30-sm > [class^="col-"], .gutter-30-sm > [class*=" col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }

    .gutter-18-sm > [class^="col-"]:first-child, .gutter-18-sm > [class*=" col-"]:nth-child(2) {
        margin-top: 0;
    }

    .gutter-18-sm .grid-item:first-child {
        padding-left: 18px;
    }

    .gutter-18-sm > .col-sm-4:nth-child(3),
    .gutter-18-sm > .col-sm-3:nth-child(3),
    .gutter-18-sm > .col-sm-3:nth-child(4) {
        margin-top: 0;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 calc(100%/2 - 0px);
        flex: 0 0 calc(100%/2 - 0px);
        max-width: calc(100%/2 - 0px);
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.6667%;
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 calc(100%/3 - 0px);
        flex: 0 0 calc(100%/3 - 0px);
        max-width: calc(100%/3 - 0px);
    }

    .col-sm-3 {
        -ms-flex: 0 0 calc(100%/4 - 0px);
        flex: 0 0 calc(100%/4 - 0px);
        max-width: calc(100%/4 - 0px);
    }

    .gutter-18-sm .grid-item {
        padding-left: 18px;
        padding-right: 18px;
        margin-left: -18px;
        margin-bottom: -20px;
    }

    .l-grid-card.gutter-18-sm .grid-item {
        margin-left: 0;
        padding-left: 9px;
        padding-right: 9px;
        margin-bottom: 0;
        padding-bottom: 18px;
    }

    .d-b-mb {
        display: block;
    }

    .blk-area {
        margin-bottom: 40px;
    }

    .card-title {
        font-size: 16px;
    }

    .area-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .footer-nav-title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .footer-nav-block {
        margin-bottom: 60px;
    }

    .footer-nav-link {
        font-size: 15px;
    }
}

@media (min-width: 861px) {
    #header .logo {
        width: 130px;
    }

    .notification-sp {
        display: none;
    }

    #header {
        height: 81px;
    }    

    #content {
        margin-top: 81px;
    }

    .nav-sp {
        display: none;
    }

    #header .headInfo .menu > li {
        display: inline-block;
        vertical-align: top;
        padding: 10px 0 0;
        position: relative;
    }

    #header .headInfo .menu > li:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 20px;
        background-color: #116CAE;
    }

    #header .headInfo .menu li:hover .span-link {
        background: #0071BA;
        color: #fff;
    }

    .leftMenuProject{
        width: 295px;
        float: left;
        padding-right: 15px;
        margin-top:35px;
        padding-bottom:10px;
        margin-bottom:50px;
        display: block;
    }

    .contenRightProject{
        width: calc(100% - 295px);
        float: left;
        margin-top: 50px;
    }

    .contenRightProject .blk-group-nav {
        display: none;
    }

    .btn-share {
        font-size: 18px;
    }

    .wrap-main {
        padding-top: 50px;
    }
}

@media (min-width: 992px) {
    .gutter-52-md > [class^="col-"], .gutter-52-md > [class*=" col-"] {
        padding-left: 26px;
        padding-right: 26px;
    }

    .pt-100-md {
        padding-top: 100px;
    }

    .gutter-60-md {
        margin-left: -30px;
        margin-right: -30px;
    }

    .gutter-40-md {
        margin-left: -20px;
        margin-right: -20px;
    }

    .gutter-60-md > [class^="col-"], .gutter-60-md > [class*=" col-"] {
        padding-left: 30px;
        padding-right: 30px;
    }

    .gutter-18-sm > .col-md-4:nth-child(3),
    .gutter-18-sm > .col-md-3:nth-child(3),
    .gutter-18-sm > .col-md-3:nth-child(4) {
        margin-top: 0;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.33%;
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .nav-block-md-7 {
        -ms-flex: 0 0 55%;
        flex: 0 0 55%;
        max-width: 55%;
    }

    .nav-block-md-5 {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }

    .nav-block-md-4 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }

    #footer .nav-block-md-4 {
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }

    .col-md-4 {
        -ms-flex: 0 0 calc(100%/3 - 0px);
        flex: 0 0 calc(100%/3 - 0px);
        max-width: calc(100%/3 - 0px);
    }

    .col-md-3 {
        -ms-flex: 0 0 calc(100%/4 - 0px);
        flex: 0 0 calc(100%/4 - 0px);
        max-width: calc(100%/4 - 0px);
    }

    .nav-block-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    #footer .nav-block-md-3 {
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
        max-width: 22%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-2 {
        -ms-flex: 0 0 calc(100%/6 - 0px);
        flex: 0 0 calc(100%/6 - 0px);
        max-width: calc(100%/6 - 0px);
    }

    .nav-block-md-2 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .card-title {
        font-size: 1.7vw;
    }

    .card-content {
        padding: 10px 22px;
    }

    .area-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .card-content .LinesEllipsis {
        margin-bottom: 20px;
    }

    .card-content .mb-10 {
        margin-bottom: 10px;
    }

    .blk-area {
        margin-bottom: 70px;
    }

    .footer-nav-title {
        font-size: 2.1445vw;
    }

    .footer-nav-link {
        font-size: 1.54vw;
    }

    .footer-nav-link:hover {
        opacity: .5;
    }

    #header .logo {
        width: 15%;
    }

    .btn-social:hover {
        opacity: .8;
    }

    .list-qa-header {
        font-size: 18px;
        padding: 20px 15px;
    }

    .list-qa {
        padding: 20px 30px;
    }

    .list-qa-item {
        padding: 20px 0 12px;
        border-bottom: 3px solid #C0C0C0;
    }

    .link-read-more:hover {
        opacity: .8;
    }

    .link-read-more {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    #header {
        height: 90px;
    }
    #content {
        margin-top: 90px;
    }
    .gutter-18-sm > .col-lg-4:nth-child(3),
    .gutter-18-sm > .col-lg-3:nth-child(3),
    .gutter-18-sm > .col-lg-3:nth-child(4) {
        margin-top: 0;
    }

    .col-lg-4 {
        -ms-flex: 0 0 calc(100% / 3 - 0px);
        flex: 0 0 calc(100% / 3 - 0px);
        max-width: calc(100% / 3 - 0px);
    }

    .col-lg-3 {
        -ms-flex: 0 0 calc(100% / 4 - 0px);
        flex: 0 0 calc(100% / 4 - 0px);
        max-width: calc(100% / 4 - 0px);
    }

    .gutter-18-sm .grid-item:nth-child(4n + 1) {
        padding-left: 18px;
        margin-left: 0;
    }

    .l-grid-card.gutter-18-sm .grid-item {
        padding-left: 9px;
    }

    .card-bor-num {
        font-size: 40px;
    }

    .list-qa {
        padding: 30px 55px;
    }
}

@media (min-width: 1280px) {
    .footer-nav-title {
        font-size: 30px;
    }

    .footer-nav-link {
        font-size: 20px;
    }
}

@media (min-width: 1681px) {
    .card-title {
        font-size: 20px;
    }

    .blk-group-nav {
        border-top: 18px solid #4072B3;
        padding: 34px 33px 57px;
        margin-bottom: 40px;
    }

    .list-nav {
        font-size: 18px;
    }

    .box-company {
        padding: 30px;
    }

    .card-bor {
        padding: 33px 45px;
    }

    .card-bor-content {
        font-size: 18px;
        width: 60.2991944764%;
    }

    .list-qa-header {
        font-size: 20px;
        padding: 30px 15px;
        border-radius: 15px;
    }

    .list-qa {
        padding: 50px 67px;
    }

    .list-qa-item {
        font-size: 18px;
        padding: 30px 0 20px;
        border-bottom: 6px solid #C0C0C0;
    }

    .list-qa-content {
        margin-bottom: 20px;
    }
}

@media (max-width: 1199px) {
    .row-grid:not(.l-grid-news) .col-lg-3:nth-child(4) {
        display: none;
    }
    .gutter-18-grid-sm {
        margin-right: -45px;
    }
    .l-grid-news .col-lg-3:nth-child(7),
    .l-grid-news .col-lg-3:nth-child(8) {
        display: none;
    }
}

@media (max-width: 991px) {
    .row-grid:not(.l-grid-news) .col-lg-3:nth-child(3) {
        display: none;
    }
    .gutter-18-grid-sm {
        margin-right: -27px;
    }
    .gutter-18-sm .grid-item:nth-child(3n) {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .gutter-18-grid-sm {
        margin-right: -9px;
    }
}

@media (min-width: 1080px) and (max-width: 1680px) {
    .wrap-content-inner {
        max-width: 1415px;
    }

    .area-title, .card-title {
        font-size: 18px;
    }

    .rPeople .note, .rPeople .people {
        font-size: 15px;
    }

    .rowBot .small-title {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .rowBot .number {
        font-size: 13px;
    }

    .blk-area {
        margin-bottom: 50px;
    }

    .meter .countNum .numTr {
        font-size: 13px;
    }

    .card-content .card-content-title {
        font-size: 16px;
    }

    .card-news .postTitle {
        font-size: 16px;
    }

    .label-ico {
        width: 18px;
    }

    #footer .wrap-content {
        max-width: 1115px;
    }

    #footer .blkAds {
        font-size: 1.5vw;
    }

    .buttonLogin {
        font-size: 16px;
        min-width: 220px;
    }

    .btn-square-soft {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #ffffff;
        font-size: 16px;
		min-width: 220px;
		line-height: 50px;
		border-radius: 5px;
		text-align: center;
		overflow: hidden;
		background: linear-gradient(#f76464 0%, #d25050 100%);
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	}
    .footer-nav-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-nav-link {
        font-size: 13px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .l-grid-news .col-lg-3:nth-child(4) {
        display: block;
        margin-left: 0;
    }

    .contenRightProject .l-grid-card .grid-card-item {
        -webkit-flex-basis: calc(100%/2 - 0px);
        flex-basis: calc(100%/2 - 0px);
        max-width: calc(100%/2 - 0px);
    }
}



@media (min-width: 1080px) and (max-width: 1680px) {
    .wrap-content-inner {
        max-width: 1380px;
    }

    .area-title, .card-title {
        font-size: 18px;
    }

    .blk-area {
        margin-bottom: 50px;
    }

    .card-content .card-content-title {
        font-size: 16px;
    }

    .card-news .postTitle {
        font-size: 16px;
    }

    .label-ico {
        width: 18px;
    }

    #footer .wrap-content {
        max-width: 1200px;
    }

    #footer .blkAds {
        font-size: 1.5vw;
    }

    .buttonLogin {
        font-size: 16px;
        min-width: 220px;
    }
    .btn-square-soft {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #ffffff;
        font-size: 16px;
        min-width: 220px;
		line-height: 50px;
		border-radius: 5px;
		text-align: center;
		overflow: hidden;
		background: linear-gradient(#f76464 0%, #d25050 100%);
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	}
    .footer-nav-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-nav-link {
        font-size: 13px;
    }
}

@media (max-width: 1500px) {
  #header .headInfo.no-auth .menu {
    margin-right: 0;
  }

}

@media (max-width: 1400px) {

    #header .headInfo .search {
        margin-right: 0;
    }
    #header .headInfo .menu li .top-link, #header .headInfo .menu li a {
      padding: 8px 10px;
    }

    #header .headInfo .menu li .nav-item {
        padding: 20px 40px;
    }
}

@media (max-width: 1366px) {
    #header .headInfo {
      padding-right: 140px;
    }
    .wraper {
        width: 1160px;
    }

    body .image-gallery-thumbnails {
        width: 1000px;
    }

    #header {
        padding: 0px 50px 4px;
    }
    #header .headInfo .search {
      width: 160px;
    }

    #footer .colLeft {
        width: 450px;
    }

    #footer .colLeft ul li {
        width: 200px;
    }

    #footer .colLeft.colLeft2 .listCat {
        width: 200px;
    }

    #footer .colLeft.colLeft2 {
        /*width: 390px;*/
    }
}

@media (max-width: 861px) {
    #header {
        padding: 0px 15px 4px;
    }
}

@media (max-width: 1330px) {
    #header .headInfo .menu li .nav-item {
        padding: 22px 20px 25px;
    }
}

@media (max-width: 1210px) {

    .wraper {
        width: 100%;
        padding: 0 3%;
    }

    #header .headInfo .menu li .top-link, #header .headInfo .menu li a {
      padding: 8px 5px;
    }

    #header .headInfo .menu li .nav-item {
        padding: 24px 15px;
    }

     #header .headInfo .menu .subMenu li a {
      padding: 8px 20px;
    }
    #header .headInfo .signIn {
      width: 94px;
      margin-top: 12px;
    }
}

@media (max-width: 450px) {
    .l-card-flex {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-bor {
        padding: 15px 20px;
    }

    .card-bor-icon {
        margin-right: 20px;
    }

    .card-bor-content {
        margin-top: 20px;
    }

    .list-qa {
        padding: 12px 15px;
    }

    .list-qa-item, .link-read-more {
        font-size: 14px;
    }
}

@media (min-width: 1141px) and (max-width: 1368px) {
    #header .headInfo .menu li a, #header .headInfo .menu li .link-here, #header .headInfo .menu li .top-link, #header .btn-large {
        font-size: 1.3vw;
    }

    #header .btn-large {
        padding: 15px 20px;
    }
}

@media (max-width: 1140px) {

    #header .headInfo .search {
      width: 160px;
    }
    #header .headInfo .menu li a, #header .headInfo .menu li .link-here, #header .headInfo .menu li .top-link, #header .btn-large {
      font-size: 14px;
    }
}

@media (max-width: 1075px) {
    #header .headInfo .menu li a, #header .headInfo .menu li .link-here, #header .headInfo .menu li .top-link, #header .btn-large {
        font-size: 12px;
    }
    #header .headInfo .search input[type="text"] {
        font-size: 10px;
    }
    .avatar {
        right: 0;
    }
    #footer .colLeft {
        width: 30%;
    }

    #footer .colLeft.colLeft2 {
        width: 30%;
    }

    #footer .colLeft ul li {
        width: 100%;
    }

    #footer .colLeft ul li a {
        font-size: 1vw;
    }

    #header .headInfo .menu {
        margin-right: 0;
    }
}

@media (max-width: 990px) {

  #header .headInfo .search {
    width: 128px;
  }
  #header .headInfo .menu li a , #header .headInfo .menu li .link-here {
      width: 100%
  }
  #header .headInfo {
    padding-right: 120px;
  }

  #header .headInfo.no-auth {
    padding-right: 0;
  }

  .avatar .avatar-img {
    width: 30px;
    height: 30px;
  }
  .notification-list {
    height: 30px;
  }
  #header .headInfo .menu li {
    padding: 13px 0 0;
  }


}

@media (max-width: 860px) {
  .calendar-time.calendar-fix {
    width: 100%;
    margin-top: 5px;
  }
  .limit-width {
    width: 100%;
  }
    .calendar-time {
      display: block;
      width: 100%;
    }
    .calendar-time .time-text {
      width: 100%;
      display: block;
    }
    .calendar-fix.calendar-time .time-text {
      width: auto;
    }
    .cover-paginate.noti {
      padding-bottom: 0;
    }
    .pc {
        display: none;
    }

    .sp {
        display: initial;
    }
    .icss-stack {
      font-size: 20px;
    }

    .wraper {
        width: 100%;
        padding: 0 2.5%;
    }
    .personal-panel.personal-panel-width {
      position: relative;
      top: 0;
      width: 100%;
      border-radius: 0;
    }


    body .image-gallery-thumbnails {
        width: 100%;
        padding: 0 2.5%;
    }
    .subMenu{
        transform: scaleX(1);
        display: none;
        padding-top: 0;
        padding-left: 2%;
        padding-right: 2%;
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 9999;
        left: 0;

    }

    #header .headInfo .menu li {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    #header .headInfo .menu li svg {
      margin-right: 5px;
    }

    #header .headInfo {
        width: 100%;
        margin-top: 10px;
    }

    #header .headInfo .menu .per-name span {
        display: inline-block;
        vertical-align: middle;
    }

    #header .headInfo .menu .per-name span i {
        display: block;
    }

    #header .headInfo .menu .per-name a,
    #header .headInfo .menu .per-name a:hover {
        background-image: none;
        padding: 22px 4%;
    }

    #header .headInfo .menu .per-name .per-avatar {
        margin-right: 15px;
        width: 50px;
    }

    .subMenu {
        position: static;
        width: 100%;
        margin: 0;
        overflow: hidden;
        overflow-y: auto;
        transition: all 200ms linear;
    }

    #header .headInfo .menu li:hover a~.subMenu {
        display: none;
    }

    #header .headInfo .menu li a~.subMenu {
      opacity: 0;
    }

    #header .headInfo .menu li a~.subMenu.active {
      opacity: 1;
      display: block;
      padding: 0;
    }
    #header .headInfo .menu li span~.subMenu.active {
      opacity: 1;
      display: block;
      padding: 0;
    }

    #header .headInfo .menu li.active .subMenu {
        padding: 0 4% 4% 10%;
        display: block;
    }

    .subMenu .titleSub {
        font-size: 16px;
    }

    .subMenu .menuSub {
        width: 100%;
        margin-top: 0;
    }

    .subMenu .menuSub-2 {
        margin-top: 32px;
    }

    #header .headInfo .menu .subMenu .menuSub li {
        margin-right: 0;
        margin-bottom: 0px;
    }

    #header .headInfo .menu .subMenu .menuSub li a ,#header .headInfo .menu .subMenu .menuSub li .link-face{
        background-image: none;
        padding: 8px 4%;
        text-align: left;
        color: #fff;
    }
    #header .headInfo .menu .subMenu .menuSub li a , #header .headInfo .menu .subMenu .menuSub li .link-face {
      padding: 8px 8%;
    }

    #header .headInfo .menu .subMenu .menuSub li {
        border: none;
    }

    #header .headInfo .menu .subMenu .col-l {
        float: left;
        width: 50%;
    }

    #header .headInfo .menu .subMenu .col-r {
        float: right;
        width: 50%;
    }

    #header .headInfo .menu li {
        margin: 0;
    }

    #header .headInfo .menu li a , #header .headInfo .menu li .link-here {
        width: 100%;
        text-align: left;
        color: #fff;
        padding: 31px 4%;
        background: url('../img/common/ico-plus.png') no-repeat right 4% center;
        font-size: 16px;
    }
    #header .headInfo .menu li .link-here {
      padding: 31px 3.5%;
    }

    #header .headInfo .menu li.active a,
    #header .headInfo .menu li.active a:hover,
    #header .headInfo .menu li a, #header .headInfo .menu li .link-here.active {
        background: url('../img/common/ico-minus.png') no-repeat right 4% center;
    }

    #header .headInfo .menu li a, #header .headInfo .menu li .link-here.disable-defalt{
      background: none;
    }
    #header .headInfo .menu li .link-here.disable-defalt {
      font-size: 16px;
    }

    #header .headInfo .menu li .span-link:hover {
      background: url('../img/common/ico-plus.png') no-repeat right 4% center;
    }

    #header .headInfo .menu li .span-link.active {
        background: url('../img/common/ico-minus.png') no-repeat right 4% center;
    }

    #header .headInfo .menu li.active .span-link,
    #header .headInfo .menu li.active .span-link:hover,
    #header .headInfo .menu li.active .span-link.active {
        background: url('../img/common/ico-minus.png') no-repeat right 4% center;
    }

    #header .headInfo .signIn {
        float: none;
        position: absolute;
        top: 14px;
        right: 70px;
        margin-top: 0;
        width: 80px;
    }

    #header .headInfo .signIn a {
        width: 57px;
        font-size: 10px;
        padding: 1px 0;
        border-radius: 5px;
    }

    #header .headInfo .signIn .aSign {
        padding: 1px;
        font-size: 12px;
    }

    #header .headInfo .search {
        width: 100%;
        float: none;
        margin-top: 0;
        display: none;
    }

    #header .headInfo .search input[type="text"] {
        border-radius: 5px;
    }
    .notification {
      display: -ms-flex;
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: bold;
    }

    #nav-icon1 {
        width: 28px;
        height: 24px;
        position: absolute;
        top: 14px;
        right: 0;
        margin: 0 auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        float: right;
    }
    #nav-icon1 img {
      height: 100%;
    }

    #nav-icon1 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #929292;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 7px;
    }

    #nav-icon1 span:nth-child(3) {
        top: 14px;
    }

    #nav-icon1.active span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon1.active span:nth-child(2) {
        opacity: 0;
        left: 0px;
    }

    #nav-icon1.active span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    body.lock {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
    }

    #footer {
        height: auto;
    }

    #footer .colLeft {
        width: 50%;
        padding-left: 0;
    }

    #footer .colLeft.colLeft2, #footer .colLeft.colLeft3 {
        width: 50%;
    }

    #footer .colLeft.colLeft2 ul li {
        width: 100%;
    }

    #footer .colLeft .title {
        font-size: 15px;
        padding: 5px 0;
        padding-left: 26px;
        margin-bottom: 5px;
    }

    #footer .colLeft ul {
        margin-top: 5px;
    }

    #footer .colLeft ul li {
        margin-bottom: 0;
        width: 100%;
        float: left;
        display: inherit;
        line-height: 1;
        margin-bottom: 10px;
    }

    #footer .colLeft ul li a {
        font-size: 12px;
    }

    #footer .sns {
        margin: 40px 0 0;
        width: 100%;
        text-align: center;
        float: left;
    }

    #footer .colLeft.colLeft2 .listCat {
        width: 100%;
        margin-top: 0;
    }

    #footer .colLeft.colLeft2 .listCat.listCat2 {
        width: auto;
        margin-top: 0;
    }

    #footer .sns li {
        width: 50px;
        margin-bottom: 0;
        display: inline-block;
    }

    #footer .sns li:not(:last-child) {
        margin-right: 4%;
    }

    #footer #copyright {
        margin-top: 15px;
        font-size: 10px;
        padding-bottom: 20px;
    }

    #header .headInfo .menu .subMenu .col-r {
        width: 100%;
        float: none;
        padding-top: 0;
    }

    #header .headInfo .menu .subMenu .menuSub-3 {
        overflow: hidden;
    }

    #header .headInfo .menu .subMenu .menuSub-3 li {
        width: 50%;
    }

    #header .headInfo .menu .subMenu .menuSub-3 .li:nth-child(odd) {
        float: left;
    }

    #header .headInfo .menu .subMenu .menuSub-3 .li:nth-child(even) {
        float: right;
    }

    #header .headInfo .menu .subMenu .col-l {
        padding-bottom: 0;
        border-bottom: none;
        width: 100%;
        float: none;
    }

    #header .headInfo .menu .subMenu .menuSub {
        overflow: hidden;
    }

    #header .headInfo .menu .subMenu .menuSub li {
        width: 50%;
    }

    #header .headInfo .menu .subMenu .menuSub li:nth-child(odd) {
        float: left;
    }

    #header .headInfo .menu .subMenu .menuSub li:nth-child(even) {
        float: right;
    }
}

@media (max-width: 480px) {
    #header .headInfo .menu .subMenu .menuSub li {
        width: 100%;
    }

    #header .headInfo .menu li .link-face,
    #header .headInfo .menu .subMenu .menuSub a,
    #header .headInfo .menu .subMenu .menuSub2 a,
    #header .headInfo .menu .subMenu .menuSub2 .link-face {
        font-size: 13px;
    }
}

@media (max-width: 340px) {
    #header .headInfo .signIn {
        right: 42px;
    }

    .l-grid-navi {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}

/*PAGINATION*/
.cover-paginate{
    padding-bottom: 60px;
    text-align: center;
    position: relative;
    padding-top: 100px;
}
.cover-paginate.custom-suport{
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    padding-top: 40px;
}
.cover-static .cover-paginate.custom-suport .pagination {
  width: 100%;
}
.loading-io{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pagination .previous.disabled a, .pagination .next.disabled a {
    cursor: default;
    color: #c9cece;
}

.pagination li{
    display: inline-block;
    margin-right: 10px;

}

.pagination li:last-child {
    margin: 0;
}

.pagination li a {
    display: block;
    text-align: center;
    width: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #2E2929;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.pagination li.active a{
    background-color: #0071BA;
    color: #FFF;
    font-weight: bold;
}
@media (min-width: 992px) {
    .pagination .disabled:hover a {
        background-color: transparent;
    }

    .pagination li:hover a{
        background-color: #0071BA;
        color: #FFF;
        font-weight: bold;
    }
}
.pagination li:hover span,
.pagination li.active span{
    background-color: #0071BA;
    color: #FFF;
    font-weight: bold;
}
.pagination li.previous a, .pagination li.next a{
    font-size: 12px;
}
.pagination li.previous span, .pagination li.next span{
    font-size: 12px;
}
@media(max-width: 768px){
    .cover-paginate{
        padding-top: 70px;
    }
    .pagination li{
        margin-right: 5px;
    }
    .pagination li a{
        width: 28px;
        line-height: 28px;
        font-size: 12px;
    }
    #footer .sns li {
      width: auto;
      float: left;
    }
    #footer .sns {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
    }
    .personal-panel-width .notification-text {

    }
    .personal-panel-width .text-name {
      width: 100%;
      text-align: left;
    }
    .personal-panel-width .notification {
      display: block;
    }
    .white-page .static-noti .calendar-time {
      text-align: left;
    }

}


/* The alert message box */
.alert {
    padding: 20px;
    background-color: #fac75a; /* Red */
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
body .rdw-fontfamily-wrapper {
  display: none;
}
body .rdw-embedded-modal ,
body .rdw-embedded-modal-header-option ,
body .rdw-embedded-modal-link-input ,
body .rdw-image-modal ,
body .rdw-image-modal-header-option ,
body .rdw-link-modal ,
body .rdw-link-modal-label ,
body .rdw-colorpicker-modal-style-label{
  font-size: 12px;
  text-align: center;
}
body .rdw-colorpicker-modal {
  width: 200px;
}


.leftMenuProject >ul >li{
    border-bottom: 1px solid #C0C0C0;
    color: #707070;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 5px;
    margin-top: 10px;
}
.leftMenuProject >ul >li >a{
    font-size: 12px;
    line-height: 1.95;
    color: #707070;
    text-decoration: none;
}
.contenRightProject{
    margin-top: 25px;
}

.contenRightProject .blk-group-nav {
    border-top-width: 5px;
    padding: 15px;
}

.clearFloat{
    clear: both;
}
.myHide{
    display: none;
}
.Top100{
    margin-top: 100px;
}
.leftMenuProjectBar{
    background: #4072B3;
    height: 10px;
}
.leftMenuProjectBarTop{
    margin-top: 40px;
}
.area-list .row .col3Project{
    /*float: left;*/
    /*width: calc(100%/3) !important;*/
    /*padding-top: 25px !important;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*padding-bottom: 25px;*/
    /*background-color: #4072B3;*/
    /*margin-top: 0px !important;*/

    float: left;
    width: calc(100%/3 - 15px) !important;
    margin-right: 14px !important;
    padding-bottom: 0;
    border: #707070 solid 1px;
    background-color: #ffffff !important;
}
.divSearchLeft{
    font-size: 17px;
    border: 1px solid #0071BA;
    border-radius: 5px;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    /*margin-right: 5px;*/
    /*margin-left: 5px;*/
    margin: 15px 5px 15px 5px;
}
.searchLeft{
    padding: 10px 10px 10px 28px;
    font-size: 17px;
    border: 0px solid grey;
    text-align: center;
    width: 100%;
    background-color: #fff;
}
.btnSearchLeft{
    top: 0;
    left: 5px;
    position: absolute;
    height: 100%;
    width: 30px;
    border: none;
    background: url(../img/common/search.png) no-repeat center;
 }

.sign-area{
    margin-top: 150px;
    padding-bottom: 65px;
}

.error {
    color: red;
    margin-top: 10px;
}

@media (min-width: 1681px) {
    .leftMenuProject {
        width: 465px;
        padding-right: 35px;
    }

    .contenRightProject {
        width: calc(100% - 465px);
    }
    
    .btn-square-soft {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #ffffff;
        font-size: 20px;
        min-width: 220px;
		line-height: 60px;
		border-radius: 5px;
		text-align: center;
		overflow: hidden;
		background: linear-gradient(#f76464 0%, #d25050 100%);
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	}
    .footer-nav-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-nav-link {
        font-size: 15px;
    }
    
    #footer .wrap-content {
        max-width: 1300px;
    }
}

@media (min-width: 1920px) {
    .leftMenuProject {
        width: 465px;
        padding-right: 35px;
    }

    .contenRightProject {
        width: calc(100% - 465px);
    }
    
    .btn-square-soft {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #ffffff;
        font-size: 20px;
        min-width: 220px;
		line-height: 60px;
		border-radius: 5px;
		text-align: center;
		overflow: hidden;
		background: linear-gradient(#f76464 0%, #d25050 100%);
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
	}
    .footer-nav-title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .footer-nav-link {
        font-size: 18px;
    }
    
    #footer .wrap-content {
        max-width: 1600px;
    }
}
.myCard{

    display: -webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;

}
.myCard span{
    margin-right: auto;
}

