@font-face {
  font-family: 'epgyobld';
  src: url(../font/EPSON-FUTO-GYOSHO.ttf);
}

@font-face {
  font-family: 'epgyosho';
  src: url(../font/EPSON-GYOSHO.ttf);
}

.daihyou-aisatsu{
	margin-bottom: 50px;
}

.daihyou-aisatsu .banner-daihyou-aisatsu{
	background-image: url(../img/staticPage/static_page_banner.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.daihyou-aisatsu .text{
	font-size: 18px;
	line-height: 1.8;
}

.daihyou-aisatsu .text strong{
	color: #c1272d;
}

.daihyou-aisatsu .bold{
	font-weight: bold;
	font-size: 18px;
}

.daihyou-aisatsu .headline2{
	font-size: 30px;
	border-bottom: 2px solid #b3b3b3;
	display: inline-block;
}

.daihyou-aisatsu .headline3{
	font-size: 26px;
	font-family: epgyosho;
}

.daihyou-aisatsu .headline{
	margin-top: 25px;
}

.daihyou-aisatsu .signature{
	color: #666;
	font-size: 62px;
	text-align: left;
	font-family: 'epgyobld';
}

.daihyou-aisatsu .signature span{
	font-size: 30px;
	font-weight: normal;
}

.daihyou-aisatsu .img_aisatsu {
    max-width: 300px;
    height: auto;
    vertical-align: top;

}

#div_kaichou{
    height: auto;
    vertical-align: top;
    padding: 5px 20px 5px 10px;
}

#div_aisatsu_con{
    padding: 5px 10px 5px 10px;
}

#signature_div{
    padding: 5px 10px 25px 20px;
}

hr { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


@media(min-width: 768px) {
    #block_aisatsu {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

	#block_aisatsu.intro-right-side #div_kaichou {
		order: 2;
	}

	#div_kaichou{
		max-width: 40%;
		height: auto;
		vertical-align: top;
	}

	#div_aisatsu_con{
		max-width: 60%;
	}
}

@media(max-width: 992px){
	.daihyou-aisatsu .signature{
		font-size: 40px;
		text-align: center;
	}

	.daihyou-aisatsu .signature span{
		font-size: 20px;
		display: block;
	}
}

@media(max-width: 768px){
	.daihyou-aisatsu .text{
		font-size: 14px;
	}

	.daihyou-aisatsu .bold{
		font-size: 14px;
	}

	.daihyou-aisatsu .headline2{
		font-size: 20px;
	}

	.daihyou-aisatsu .headline3{
		font-size: 18px;
	}
}