#notfound {
  position: relative;
  height: 100vh;
  background-image: url(../img/error/error.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-notfound {
  display: block;
  width: 500px;
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 10px 10px 45px 9px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 45px 9px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 45px 9px rgba(0,0,0,0.2);
}
.img-notfound {
  display: block;
  width: 240px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}
.text-bold {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.mess {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  color: #333;
}
.button-back {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #0071ba;
  padding-bottom: 30px;
}
.button-back:hover {
  text-decoration: none;
}
.notfound{
  background: #fff;
  width: 500px;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
}
.notfound h1{
  font-size: 40px;
  margin-bottom: 30px;
}
.notfound h2{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}
.notfound a{
  color: #0071ba;
}
.contact-information {
  text-align: left;
}
