.headerFirst{
    background: url('../img/firstUser/firsUserMore1.png') no-repeat center center/cover;
    padding: 28%;
    position: relative;
}
.headerFirstProject{
    background: url('../img/firstUser/welcome_project.png') no-repeat center center/cover;
    padding: 28%;
    position: relative;
}
.headerFirst2Button{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 7%;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;

}
.headerFirst2Buttonbtn1, .headerFirst2Buttonbtn2 {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}
.headerFirst2Buttonbtn1{
    background-color: #4072B3;
}
.headerFirst2Buttonbtn2{
    background-color:#EB8686;
    margin-bottom: 0;
}
.firstMain{
  overflow: hidden;
  padding-top: 50px;
   clear: both;
}
.titleAfterHeader{
    padding-bottom: 50px;
    text-align: center;
    color: #696A6C;
}
.boxKakuSeida {
    border-radius: 3px;
    border: 1px solid #4072B3;
    font-weight: 200;
    text-indent: 0.35in;
    padding: 20px;
    position: relative;
    margin-bottom: 6px;
}

.boxKakuSeida .imageBorder {
    position: absolute;
    left: 15px;
    width: 25.3541666667%;
    min-width: 160px;
    max-width: 410px;
    transform: translateY(-66%);
}

.boxKakuSeida .fieldset-wrapper {
    background-color: #fff;
    padding: 10px 10px 10px 15px;
}

.boxKakuSeida .txt-box-title {
    margin-top: 20px;
    font-size: 20px;
}

.wrap-main .boxKakuSeida {
    text-indent: 0;
}

.wrap-main .box3FirsUser {
    padding-left: 20px;
    padding-right: 20px;
}

.wrap-grid {
    display: block;
    margin: 0 auto;
    max-width: 1493px;
}

.grid-box-card {
    margin-left: -15px;
    margin-right: -15px;
}

.grid-box-card .grid-box-card-item {
    padding: 0 15px;
    margin-bottom: 20px;
    width: 100%;
}

.l-grid-list-qa .l-grid-list-qa-item {
    width: 100%;
}

.l-grid-list-qa {
    margin-left: -15px;
    margin-right: -15px;
}

.l-grid-list-qa .l-grid-list-qa-item {
    padding: 0 15px;
    margin-bottom: 20px;
}

.txtBoxCenter {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 22px;
}

.header-title {
    font-size: 16px;
    margin-bottom: 12%;
}

.box-card {
    border-style: solid;
    border-color: #4072B3;
    border-width: 4px 12px;
    padding: 20px;
}

.box-card-icon {
    text-align: center;
    margin-bottom: 20px;
}

.box-card-title {
    font-size: 20px;
    color: #3D424A;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.box-card-content {
    font-size: 16px;
}

.grid-box-card-item .box-card {
    height: 100%;
}

.wrap-grid-list-qa {
    width: 100%;
    margin: 0 auto;
    max-width: 1536px;
}

.divBigBox {
    margin-left: 80px;
}
.divBoxChild {
    background-color: #4072B3;
    width: 290px;
    padding: 4px 13px 4px 10px;
    height: 350px;
    float: left;
    margin-right: 50px;
}

.divBoxChild1 {
    background-color: #ffffff;
    width: 265px;
    text-align: center;
    height: 340px;
}
.divBoxChild1Text1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.divBoxChild1Text2 {
    padding-top: 20px;
    color: #3D424A;
    font-weight: 600;
    font-size: 18px;
}
.divBoxChild1Text2 img{

}
.divBoxChild1Text3 {
    color: #3D424A;
    text-align: left;
    font-size: 13px;
    padding-top: 20px;
}
.rowGroup {
    height: 365px;
}
.rowGroupSub2Child{
    width: 580px;
    border-radius: 3px;
    border: 1px solid #4072B3;
    font-weight: 200;
    text-indent: 0.35in;
    padding: 20px;
    position: relative;
    margin-bottom: 6px;
    height: 150px;
    float: left;
}
.rowGroupSub2Icon{
    float: left;
}
.rowGroupSub2Icon img{
    width: 100px;
}

.rowGroupSub2Num {
    float: left;
    /* height: 150px; */
    padding-top: 34px;
    font-size: 23px;
}
.clearFloat{
    clear: both;    overflow: hidden;
}
.rowGroupSub2Text {
    float: left;
    /* vertical-align: middle; */
    /* display: flex; */
    text-align: left;
    padding-top: 20px;
    font-size: 12px;
}
/*box3FirsUser*/
.box3FirsUser{
    background-color: rgba(64,114,179,0.05);
    margin-top: 30px;
    margin-bottom: 50px;
}
.box3FirsUserRow{
    display: flex;
    justify-content: center;
}
.box3FirsUserRowItem{
    background: #fff;
    width: 402px;
    padding: 25px;
    margin-right: 80px;
    height: 300px;
    float: left;
}
.box3FirsUserRow >.box3FirsUserRowItem:last-child{
    margin-right: 0px;
}
.box3FirsUserRowButton{
    background: #AEC4E5;
    color: #fff;
    height: 38px;
    width: 345px;
    text-align: center;
    line-height: 38px;
    border-radius: 8px;

}
.rowGroupSub2Text div{
    border-bottom: 2px solid #C0C0C0;
    height: 25px;
    margin-bottom: 7px;
}
.txtBoxCenterEnd{
    text-align: center;
    color: #4072B3;
    margin-top: 30px;
}
.headerFirst2ButtonEnd{
    width: 100%;
    bottom: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 679px) {
    .headerFirst2ButtonEnd, .headerFirst2Button {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .headerFirst2Button {
        bottom: -185px;
    }

    .mt-banner {
        margin-top: 135px;
    }
}

@media (max-width: 450px) {
    .header-title {
        margin-bottom: 50px;
    }

    .boxKakuSeida {
        padding: 20px 15px;
    }

    .grid-box-card-item .box-card, .wrap-main .box3FirsUser {
        padding: 20px 15px;
    }

    .box-card-icon img {
        width: 80px;
    }
}

@media (min-width: 680px) {
    .headerFirst2Buttonbtn1, .headerFirst2Buttonbtn2 {
        float: left;
        height: 80px;
        line-height: 80px;
        max-width: 400px;
        width: 50%;
    }
    .headerFirst2Buttonbtn1{
        margin-right: 50px;
    }
    .headerFirst2Buttonbtn2{
        margin-left: 50px;
    }
}

@media (min-width: 861px) {
    .boxKakuSeida .imageBorder {
        min-width: 286px;
        left: 55px;
    }
    .boxKakuSeida .fieldset-wrapper {
        padding-left: 30px;
    }

    .header-title {
        font-size: 18px;
        text-align: center;
    }

    .boxKakuSeida .txt-box-title {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .boxKakuSeida .txt-box-title, .txtBoxCenter {
        font-size: 30px;
    }

    .box-card {
        border-width: 8px 18px;
        padding: 20px;
    }

    .box-card-icon {
        margin-bottom: 35px;
    }

    .headerFirst2Button {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: 992px) {
    .headerFirst2Buttonbtn1, .headerFirst2Buttonbtn2 {
        height: 100px;
        line-height: 100px;
        max-width: 400px;
        width: 50%;
    }
    .titleAfterHeader {
        font-size: 20px;
    }
}

@media (min-width: 1100px) and (max-width: 1680px) {
    .wrap-main .boxKakuSeida, .wrap-main .box3FirsUser {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1200px) {
    .grid-box-card {
        margin-left: -30px;
        margin-right: -30px;
    }

    .grid-box-card .grid-box-card-item {
        padding: 0 30px;
        margin-bottom: 30px;
    }

    .l-grid-list-qa {
        margin-left: -32px;
        margin-right: -32px;
    }

    .l-grid-list-qa .l-grid-list-qa-item {
        padding: 0 32px;
    }

    .headerFirst2Button {
        bottom: 10%;
    }
}

@media (min-width: 1681px) {
    .grid-box-card {
        margin-left: -40px;
        margin-right: -40px;
    }

    .grid-box-card .grid-box-card-item {
        padding: 0 40px;
        margin-bottom: 40px;
    }

    .l-grid-list-qa {
        margin-left: -47px;
        margin-right: -47px;
    }

    .l-grid-list-qa .l-grid-list-qa-item {
        padding: 0 47px;
    }

    .box-card {
        border-width: 12px 22px;
        padding: 40px;
    }

    .box-card-title {
        font-size: 30px;
    }

    .box-card-content {
        font-size: 18px;
    }
}

@media (min-width: 1780px) {
    .headerFirst2Button {
        bottom: 160px;
    }
}
