@charset "utf-8";

/***************************************************************************
*
* FIRST  STYLE
*
***************************************************************************/


.tab-firstUser {
	display: none;
}
.tab-firstUser.active {
	display: block;
}
/*jumbotron*/
.jumbotron{
	background: url('../img/firstUser/bg.jpg') no-repeat center center/cover;
	padding: 120px;
}
.jumbotron .title{
	color: #fff;
	text-align: center;
	font-size: 35px;
	margin-bottom: 0;
}
.jumbotron .subTitle{
	color: #fff;
	text-align: center;
	font-size: 25px;
}
.jumbotron .tab-list-wrapper{
	text-align: center;
}
.jumbotron .tab-list-wrapper .tab-list{
	overflow: hidden;
	display: inline-block;
	margin-top: 15px;
}
.jumbotron .tab-list-wrapper .tab-list li.tab-list-li{
	float: left;
	margin-right: 2px;
	width: 47%;
}
.jumbotron .tab-list-wrapper .tab-list li.tab-list-li:last-child{
	margin-right: 0;
}
.jumbotron .tab-list-wrapper .tab-list li.tab-list-li .tab-btn{
	color: #fff;
	display: block;
	font-size: 18px;
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none;
	width: 315px;
	padding: 7px;
	transition: all 200ms linear;
}
.jumbotron .tab-list-wrapper .tab-list li.tab-list-li.active .tab-btn{
	background: #fff;
	color: #38cff2;
}
.jumbotron .tab-list-wrapper .tab-list li.tab-list-li .tab-btn:hover{
	opacity: .7;
}

.slides-wrapper{
	text-align: center;
}
.slides-wrapper .slides{

}
.slides-wrapper .slides li.slides-li{

}
.slides-wrapper .slides li.slides-li .slides-img{
	text-align: center;
	padding: 30px;

}
.slides-wrapper .slides li.slides-li .slides-img img {
	display: inline;
}
.slides-wrapper .slides li.slides-li .desc{
	font-size: 24px;
	background: rgba(255, 255, 255, .7);
	padding: 22px;
}
.slides-wrapper .slides li.slides-li .desc span.bold{
	color: #c1272d;
	font-weight: bold;
}
.prev, .next{
	width: 44px;
	height: 44px;
	display: inline-block;
}
{
	text-align: center;
}
 .dots-list{
	overflow: hidden;
    text-align: center;
    display: inline-block;
    padding: 12px;
}
 .dots-list li{
	position: relative;
	display: inline-block;
}
.dots-list.dots-list-5 li {
	width: 20%;
}
.dots-list.dots-list-10 li {
	width: 10%;
}
.dots-list.dots-list-5 li:last-child , .dots-list.dots-list-10 li:last-child {
	width: 30px;
}

 .dots-list li:after{
	 content: "";
   height: 1px;
   display: inline-block;
   vertical-align: middle;
   background: #fff;
   width: calc( 100% - 30px );
   position: absolute;
   left: 50%;
   top: 50%;
	 margin-left: calc( -50% + 30px );

}
 .dots-list li:last-child:after{
	display: none;
}
 .dots-list li .dots-list-a{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	position: relative;
	margin: 0 10px;
	float: left;
	cursor: pointer;
}
 .dots-list li .dots-list-a:after{
	content: "";
	width: 30px;
	height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0;
    transition: all 150ms linear;
}
 .dots-list li.slick-active .dots-list-a{
	position: relative;
}
 .dots-list li.slick-active .dots-list-a:after{
	content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 1;
}
 .dots-list li:hover .dots-list-a:after{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


/*end jumbotron*/
.slides-control .slides-control-a{
	display: block;
	width: 44px;
	height: 43px;
}

body .slides-wrapper .slick-next, body .slides-wrapper .slick-prev {
	display: block;
	width: 44px;
	height: 43px;
}
body .slides-wrapper .slick-prev:before {
	display: none;
}
body .slides-wrapper .slick-next:before {
	display: none;
}
body .slides-wrapper .slick-next {
	background: url('../img/firstUser/next.svg') no-repeat center center/100% 100%;
	top: 35%;
}
body .slides-wrapper .slick-prev {
	background: url('../img/firstUser/prev.svg') no-repeat center center/100% 100%;
	top: 35%;
}

.jumbotron .sp{
	display: none;
}
@media(max-width: 900px){
	.jumbotron .tab-list-wrapper .tab-list , .jumbotron .tab-list-wrapper .tab-list li.tab-list-li .tab-btn {
		width: 100%;
	}
}
@media(max-width: 768px){
	.sp{
		display: inline;
	}
	.pc{
		display: none;
	}
	.jumbotron{
		padding: 15px;
	}
	.jumbotron .title{
		font-size: 30px;
	}
	.jumbotron .subTitle{
		font-size: 20px;
	}
	.jumbotron .tab-list-wrapper .tab-list{
		width: 100%;
	}
	.jumbotron .tab-list-wrapper .tab-list li.tab-list-li{
		width: calc(50% - 1px);
	}
	.jumbotron .tab-list-wrapper .tab-list li.tab-list-li .tab-btn{
		width: 100%;
	    font-size: 12px;
	}
	.slides-wrapper .slides li.slides-li .desc{
		font-size: 12px;
	    padding: 15px 5px;
	}
	.dots-list{
		display: none!important;
	}
	.slides-control{
		display: none!important;
	}
	.slides-wrapper{
		margin-top: 20px;
	}
	.slides-wrapper .slick-next {
		right: -15px;
	}
	.slides-wrapper .slick-prev {
		left: -15px;
	}
}
