
.kakuseida-towa-banner{
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.titleHeader {

}

.twoButton{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -15%;
	margin-bottom: 145px;

}
.button1{
	height: 120px;
	width: 480px;
	color:#F7F7F7 ;
	background:  rgba(64,114,179,0.5);;
	margin-right: 0px;
	cursor: pointer;
}
.button2{
	height: 120px;
	width: 480px;
	color:#F7F7F7 ;
	background:  rgba(235,134,134,0.5);;
	margin-right: 0px;
	cursor: pointer;
}
.child{
	margin: 10px 10px 10px 10px;
	/* width: 98%; */
	height: 84%;
	border: #ffffff 1px solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.imageContent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	width: 35%;
    margin-top:20px;	
}
.textContent{
    font-size: 14px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	width: 80%;	
    margin-top:60px;
    margin-bottom:180px;
}
.textFirst{
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.textSecond{
    font-size: 15px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;    
}

@media (min-width: 1680px) {
    .button1{
		height: 140px;
		width: 560px;
	}
	.button2{
		height: 140px;
		width: 560px;
	}
	.child{
		height: 88%;
	}
    .imageContent{
	    margin-top:100px;	
	}
	.textContent{
        width: 100%;
		font-size: 18px;
	    margin-top:120px;
	    margin-bottom:260px;
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .button1{
		height: 100px;
		width: 420px;
	}
	.button2{
		height: 100px;
		width: 420px;
	}
	.child{
		height: 82%;
	}
    .imageContent{
	    margin-top:0px;	
	}
	.textContent{
        width: 100%;
		font-size: 14px;
	    margin-top:60px;
	    margin-bottom:120px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
    .button1{
		height: 80px;
		width: 280px;
	}
	.button2{
		height: 80px;
		width: 280px;
	}
	.child{
		margin: 6px 6px 6px 6px;
		height: 84%;
	}
    .imageContent{
	    margin-top:-40px;	
	}
	.textContent{
        width: 90%;
		font-size: 10px;
	    margin-top:40px;
	    margin-bottom:80px;
	}
    .textFirst{
	    font-size: 14px;
	    color: #fff;
	    text-align: center;
	    border-radius: 5px;
	    cursor: pointer;
	    width: 100%;
	}

	.textSecond{
	    font-size: 10px;
	    color: #fff;
	    text-align: center;
	    border-radius: 5px;
	    cursor: pointer;
	    width: 100%;    
	}
}

@media (max-width: 767px) {
    .twoButton{
		margin-top: 5%;
		margin-bottom: 20px;
	}
	 .button1{
		height: 80px;
		width: 380px;
	}
	.button2{
        margin-top: 15px;
		height: 80px;
		width: 380px;
	}
	.child{
		margin: 6px 6px 6px 6px;
		height: 84%;
	}
	.imageContent{
		width: 40%;	
	}
	.textContent{
	    font-size: 10px;
	    margin-top:30px;
	    margin-bottom:30px;
	}
}