@charset "utf-8";

/***************************************************************************
*
* login.css
*
***************************************************************************/
.separator {
	position: relative;
	border-top: 1px solid #707070;
	margin: 10px auto;
	height: 1px !important;
	margin-top: 50px;
  margin-bottom: 50px;
}
.separator::after {
	position: absolute;
	content: "OR";
	background-color: #ffffff;
	display: block;
	text-align: center;
	line-height: normal;
	color: #414040;
	left: 50%;
	top: -.75em;
	margin-left: -1.5em;
	padding: 0 0.5em;
}

.my-facebook-button-class {
	display: block;
	background: #337ab7;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	margin: 0 auto;
	margin-top: 10px;
	width: 210px;
}
.login-panel{
	background: #f6f8fa;
	overflow: hidden;
	padding: 50px;
}
.login-panel .form-login{
	width: 100%;
}
.cover-360 {
	width: 360px;
}
.col-l{
	width: 50%;
	float: left;
	position: relative;
}
.col-l:before{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #bfbfbf;
}
.col-r{
	width: calc(50% - 1px);
	float: right;
	padding-left: 39px;
}
.area{
	padding: 10px 0 50px;
}
.title{
	font-size: 20px;
	margin-bottom: 40px;
}
.title-forget{
	font-size: 20px;
	padding-left:30px;
	margin-bottom: 40px;
}
.form-field{
	margin-bottom: 20px;
}
.form-field .form-label{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-desc{
	font-size: 14px;
	margin-bottom: 10px;
}

.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"], .form-field input[type="r-password"]{
	width: 100%;
	border: 1px solid #707070;
	font-size: 16px;
	color: #000;
    padding: 15px 16px;
}

.form-field input[type="r-password"]{
	width: 30%;
	border: 1px solid #707070;
	font-size: 16px;
	color: #000;
    padding: 15px 16px;
}

.col-r .form-field input[type="text"]{
	width: 340px;
}
.form-field-chk{
	font-size: 12px;
	text-align: center;
}
.form-field-chk input{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.form-link{
	text-align: center;
	margin-bottom: 30px;
}
.form-link a{
	font-size: 12px;
	color: #46c1f7;
}
.form-link a:hover {
	color:#f4902c;
}
.form-submit{
	text-align: center;
}
.form-submit input{
	width: 100%;
	text-align: center;
	background: none;
	border: 1px solid #AEC4E5;
	color: #AEC4E5;
	font-size: 12px;
	padding: 15px 0;
	transition: all 200ms linear;
}
.form-submit input:hover{
	background: #f4902c;
	color: #f6f8fa;
}
.one-row-btn{
	font-size: 12px;
	color: #fff;
	background: #4072B3;
	border: none;
	width: 130px;
	text-align: center;
	padding: 16px 0;
	transition: all 200ms linear;
}
.form-one{
	overflow: hidden;
}

.form-reset{
	overflow: hidden;
	width:100%;
    align-items: center;
}

.form-forget{
	margin: 0 auto;
	overflow: hidden;
	width:30%;
}

.mail-input{
	width:500px;
}
.form-one input{
	float: left;
}

.title-social {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 30px;
}
.tab-social {
	width: 100%;
}
.tab-social .social-button {
	width: 45.49%;
}
@media(max-width: 1210px){
	.col-r .form-field input[type="text"]{
		width: 100%;
	}
	.one-row-btn{
		width: 30%;
	}
	.form-forgot .one-row-btn {
		width: 130px;
	}
    .form-field{
	    margin-bottom: 20px;
    }
}
@media(max-width: 1000px){
	.col-r{
		text-align: center;
	}
	.col-r .form-field input[type="text"]{
		width: 100%;
	}
	.one-row-btn{
		width: 150px;
		margin-top: 20px;
		display: inline-block;
		vertical-align: top;
		float: none;
	}
	.form-forgot .one-row-btn {
		margin-top: 0;
	}
	.sign-area .form-one input{
		float: left;
		margin: 0;
		width: 30%;
	}
    .form-forget input{
		float: left;
		margin: 0;
		width: 40%;
	}
	.title{
		text-align: left;
	}
	.form-field .form-label .form-desc{
		text-align: left;
	}
    .form-field{
	    margin-bottom: 20px;
    }
}
@media(max-width: 975px){
	.login-panel .form-login {
	    width: 100%;
	    padding-right: 11%;
	}
	.cover-360 {
		width: 100%;
	}
	.form-field input[type="text"],
	.form-field input[type="password"]{
		width: 100%;
	}

    .form-forget {
		margin: 0 auto;
		width: 60%;
	}
    .form-field{
	    margin-bottom: 20px;
	}
}
@media(max-width: 768px){
	.form-login .form-field  input {
		font-size: 12px;
	}

	.login-panel .form-login {
		padding-right: 0;
		overflow: hidden;
	}
	.tab-social , .title-social.needHideSP {
		display: none;
	}
	.social-button {
		width: 50%;
	}

	.title{
		margin-bottom: 30px;
	}
	.area.sign-area {
		margin-top: 66px;
		padding-bottom: 4%;
		padding-top: 0px;
	}
	.col-l, .col-r{
		width: 100%;
		float: none;
	}
	.col-l:before{
		display: none;
	}
	.col-l{
		border-bottom: 1px solid #bfbfbf;
		padding-bottom: 40px;
	}
	.col-r{
		padding-top: 40px;
		padding-left: 0;
	}
	.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"]{
		width: 100%;
	}
	.login-panel{
		padding: 30px;
	}
	.login-panel form{
		display: block;
	}
	.one-row-btn{
		width: 120px;
	}
	.form-one input[type="text"], .form-one input[type="email"]{
		width: 100%;
	}
	.form-forget input[type="text"], .form-forget input[type="email"]{
		width: 100%;
	}
	.sign-area .form-one .form-forget input {
		width: 105px;
	}
	.col{
		width: 100%;
	}
	.sign-area .form-one .form-forget .cover-input input {
		width: 100%;
	}
     .form-forget {
		margin: 0 auto;
		width: 100%;
	}
    .form-field{
		margin-bottom: 20px;
	}
}
.facebook-button {
	text-align: center;
	background: none;
	border: 1px solid #6A9BE6;
	color: #fff;
	font-size: 13px;
	padding: 15px 10px;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	background: #6A9BE6;
	display: block;
	margin-top: 10px;
	cursor: pointer;
	width: 100%;
}
.facebook-button:hover {
	opacity: 0.8;
}
.icono-facebook {
	height: 21px;
}
.icono-facebook:before {
	top: 7px;
}
.register-side .social-button {
	display: block;
    float: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
	max-width: 400px;
    text-align: center;
}
.auth-twitter, .facebook-button {
	width: 100%;
	font-weight: bold;
}

.register-side .social-button .auth-twitter,
.register-side .social-button .facebook-button {
	text-align: left;
	margin-bottom: 10px;
}

.login-here-separator {
	margin: 40px 0px 40px;
}
.auth-twitter {
	background: none;
	border: 1px solid #63c8f7;
	color: #fff;
	font-size: 13px;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	display: block;
	margin-top: 10px;
	cursor: pointer;
	background: #63c8f7;
	padding: 14px 10px;
	width: 100%;
}
.auth-twitter:hover {
	opacity: 0.8;
}
.auth-twitter svg {
	color: #fff!important;
	width: 20px;
	margin-right: 5px;
	margin-left: 5px;
}

.auth-twitter svg path {
	color: #76A9EA;
}
.facebook-button  i {
	color:#fff;
}

@media(max-width: 768px){
	.register-side .social-button .auth-twitter,
	.register-side .social-button .facebook-button {
		width: 100%;
	}
	.social-button {
		width: 100%;
		padding-bottom: 0;
	}
	.facebook-button {
		text-align: center;
		width: 100%;
	}
	.auth-twitter {
		width: 100%;
	}
	.login-here-separator {
		width: 100%;
	}
}
@media(max-width: 320px){
	.login-panel {
		padding: 15px;
	}
}

.one-row-btn-new{
	font-size: 16px;
	color: #fff;
	background: #4072B3;
	border: 1px solid #707070;
	border-left: 0;
	width: 100%;
	min-width: 160px;
	text-align: center;
	padding: 16px 15px 15px;
	transition: all 200ms linear;
}

.sepLeft{
	position: relative;
	border-top: 1px solid #707070;
	/* margin: 10px auto; */
	height: 1px !important;
	margin-top: 50px;
	margin-bottom: 50px;
}
.sepLeft::after {
	position: absolute;
	content: "OR";
	background-color: #ecf1f7;
	display: block;
	text-align: center;
	line-height: normal;
	color: #999999;
	left: 50%;
	top: -.75em;
	margin-left: -1.5em;
	padding: 0 0.5em;
}
.register-side{
	text-align: center;
    margin: 0 auto;
}

.form-field input[type="password"], .form-field input[type="email"] {

}

.form-field input[type="f-email"] {
	width: 380px;
}

.emailOrPass{
	border: 1px solid #707070 !important;
	width: 400px;

}
.col-r .form-field input[type="text"] {
	 width: 360px !important;
}
.form-label-right{
	float: right;
	background: url(../img/login/sad.jpg) no-repeat center left;
	padding-left: 25px;
	background-size: 21px 21px;
}

.passField{
	width: 360px;
	margin-bottom: 5px;
}
.divCheckbox{
	margin-top:5px;
	margin-bottom:5px;
	text-align: center;
}
.chkbox {
	/*width: 14px !important;*/
	/*!* Double-sized Checkboxes *!*/
	/*-ms-transform: scale(2); !* IE *!*/
	/*-moz-transform: scale(2); !* FF *!*/
	/*-webkit-transform: scale(2); !* Safari and Chrome *!*/
	/*-o-transform: scale(2); !* Opera *!*/
	/*transform: scale(2);*/
	/*padding: 10px;*/
	/*margin-bottom: 5px;*/

}
.chkboxLabel{
	/* Checkbox text */
	font-size: 110%;
	display: inline !important;
	margin-left: 10px;
}

/* Main Classes */
.myinput[type="checkbox"]:before{
	position: relative;
	display: block;
	width: 11px;
	height: 11px;
	border: 1px solid #707070;
	content: "";
	background: #FFF;
}
.myinput[type="checkbox"]:after{
	position: relative;
	display: block;
	left: 2px;
	top: -11px;
	width: 7px;
	height: 7px;
	content: "";
	background-repeat: no-repeat;
	background-position:center;
}
.myinput[type="checkbox"]:checked:after{
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');
}
.myinput[type="checkbox"]:disabled:after{
	-webkit-filter: opacity(0.4);
}
.myinput[type="checkbox"]:not(:disabled):checked:hover:after{
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');
}
.myinput[type="checkbox"]:not(:disabled):hover:after{
	border: 0;
}
.myinput[type="checkbox"]:not(:disabled):hover:before{
	border-color: #707070;
}
/* Large checkboxes */
.myinput.large{
	height:22px;
	width: 22px;
	margin-bottom: 9px;
	-webkit-appearance: none;
	appearance: none;
}

.myinput.large[type="checkbox"]:before{
	width: 20px;
	height: 20px;
}
.myinput.large[type="checkbox"]:after{
	top: -20px;
	width: 16px;
	height: 16px;
}

.ffLogin{
	margin-left: 45px;
}
.loginRight{
    background: rgba(64,114,179,0.1) !important;
}
.loginRight form{
    background: rgb(236, 241, 247) !important;
}
.form-field .cover-input .form-one-subemail{
	margin-bottom: 15px;
}
.wrap-full {
	width: 100%;
}
.lbSub{
	margin-left: 40px;
}
.form-one-sub{
	margin-left: 40px;
	overflow: hidden;
	border: #707070 solid 1px;
	width: 440px;
}
.iconFacebook{
	background: url(../img/login/facebook@2x.png) no-repeat top left;
	background-size: 23px 21px;
	width: 24px;
	height: 23px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.iconTwitter{
	background: url(../img/login/twitter@2x.png) no-repeat top left;
	background-size: 23px 21px;
	width: 24px;
	height: 23px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.forgot-pass {
	font-size: 10px;
	color: #414040;
	text-decoration: none;
	transition: .3s;
}

@media (min-width: 350px) {
	.forgot-pass {
		font-size: 12px;
	}
}

.form-login {
	border: 2px solid #4072B3;
	padding: 15px 20px;
}

.form-register {
	padding: 15px 20px;
}

.grid-signin {

}

.grid-signin-item {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-top: 20px;
}

.grid-signin-item:first-child {
	margin-top: 0;
}

.form-field .label-title {
	margin-bottom: 40px;
}

.grid-signin-item .title {
	margin-bottom: 15px;
	font-weight: bold;
}

.login-note {
	color: #847E7E;
}

.social-button {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.form-forgot .one-row-btn {
	font-size: 16px;
}

@media (min-width: 1280px) {
	.line-btn-social {
		margin-left: -16px;
		margin-right: -16px;
	}

	.line-btn-social .social-button {
		padding: 0 16px;
	}

	.social-button {
		-ms-flex: 0 0 calc(100% / 2 - 0px);
		flex: 0 0 calc(100% / 2 - 0px);
		max-width: calc(100% / 2 - 0px);
	}
}

@media (min-width: 1280px) and (max-width: 1400px) {
	.auth-twitter, .facebook-button {
		font-size: .9vw;
	}
}

@media (min-width: 680px) and (max-width: 959px) {
	.social-button {
		-ms-flex: 0 0 calc(100% / 2 - 0px);
		flex: 0 0 calc(100% / 2 - 0px);
		max-width: calc(100% / 2 - 0px);
	}

	.line-btn-social {
		margin-left: -16px;
		margin-right: -16px;
	}

	.line-btn-social .social-button {
		padding: 0 16px;
	}
}

@media (min-width: 600px) {
	.form-field .cover-input .form-one-subemail {
		border-right: 0;
		margin-bottom: 0;
		width: calc(100% - 191px);
	}

	.form-submit input {
		width: 210px;
	}

	.one-row-btn-new {
		width: auto;
	}

	.form-forgot .cover-input .form-one-subemail {
		width: calc(100% - 130px);
	}
}

@media (min-width: 861px) {
	.form-field .form-label .form-desc{
		font-size: 16px;
	}

	.forgot-pass {
		font-size: 14px;
	}

	.form-login, .form-register {
		padding: 20px 30px;
		height: calc(100% - 45px);
	}

	.grid-signin {
		margin-left: -20px;
		margin-right: -20px;
	}

	.grid-signin-item {
		padding-left: 20px;
		padding-right: 20px;
	}

	.form-field .label-title {
		margin-bottom: 60px;
	}

	.one-row-btn-new {
		font-size: 15px;
	}

	.form-field .cover-input .form-one-subemail{
		width: calc(100% - 181px);
	}

	.form-forgot .cover-input .form-one-subemail {
		width: calc(100% - 130px);
	}
}

@media (min-width: 960px) {
	.grid-signin-item {
		-ms-flex: 0 0 calc(100% / 2 - 0px);
		flex: 0 0 calc(100% / 2 - 0px);
		max-width: calc(100% / 2 - 0px);
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	.forgot-pass:hover {
		color: #888787;
	}

	.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"], .form-field input[type="f-email"]{
		font-size: 15px;
		padding: 15px 16px;
	}

	.one-row-btn-new {
		padding: 15px 15px;
	}

	.register-side .social-button .auth-twitter,
	.register-side .social-button .facebook-button {
		padding: 15px 20px;
		font-size: 16px;
	}

	.one-row-btn:hover{
		background: #fff;
		border: 1px solid #4072B3;
		border-left: none;
		color: #4072B3;
		padding: 15px 0;
	}

	.form-forgot .one-row-btn:hover {
		border-left: 1px solid #4072B3;
	}

	.form-forgot .one-row-btn {
		font-size: 15px;
	}
}

@media (min-width: 1681px) {
	.form-field .form-label .form-desc{
		font-size: 20px;
		margin-bottom: 15px;
	}

	.forgot-pass {
		font-size: 15px;
	}

	.form-login, .form-register {
		padding: 30px 40px;
		height: calc(100% - 61px);
	}

	.grid-signin {
		margin-left: -47px;
		margin-right: -47px;
	}

	.grid-signin-item {
		padding-left: 47px;
		padding-right: 47px;
	}

	.form-field .label-title {
		margin-bottom: 86px;
		font-size: 20px;
	}

	.grid-signin-item .title {
		font-size: 30px;
		margin-bottom: 16px;
	}

	.facebook-button, .auth-twitter {
		font-size: 1vw;
		padding: 25px 22px;
		text-align: center;
	}

	.auth-twitter svg {
		width: 25px;
		margin-left: 0;
	}

	.register-side .social-button {
		max-width: 480px;
	}

	.register-side .social-button .auth-twitter,
	.register-side .social-button .facebook-button {
		margin-bottom: 16px;
	}

	.login-note {
		font-size: 15px;
	}
}

@media (min-width: 1800px) {
	.facebook-button, .auth-twitter {
		font-size: 18px;
	}
}

@media (max-width: 599px) {
	.form-forgot .one-row-btn {
		width: 100%;
	}
}
