.go-more {
  color: #0e6eb8;
  text-decoration: none;
  float: right;
}
.go-more.mr {
  margin-right: 5px;
}
.go-more:hover {
  text-decoration: underline;
}
.new-detail {
  display: block;
  overflow: hidden;
  position: relative;
}
.about_box.bg {
  background: url(../img/news/bg.jpg);
  background-size: cover;
  padding-bottom: 75px;
}
.wraper.padding {
  padding: 40px;
}
.each-item {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.each-item .thumnail {
  float: left;
  width: 400px;
  position: relative;
}
  .each-item .thumnail .label-news-project {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
    color: #fff;
  }
  .each-item .thumnail img {
    display: block;
    width: 100%;
    height: 100%;
  }
.l-list-item .thumnail img {
  display: inline-block;
}
.l-list-item .thumnail {
  text-align: center;
}
.each-item .text-right-only {
  float: right;
  width: calc( 100% - 440px );
}
.cover-list-new {
  padding: 50px 80px;
}
.l-list {
  margin-top: 50px;
  background-color: #fff;
}
.l-list .l-list-item {
  position: relative;
  padding: 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.18);
  border-radius: 5px;
  transition: .3s;
}
.l-list .l-list-item:before,
.l-list .l-list-item:after {
  content: "";
  display: table;
}
.l-list .l-list-item:after {
  clear: both;
}
.l-list .l-list-item:last-child {
  margin-bottom: 0;
}
.card-list .thumnail {
  border: 1px solid #707070;
}
.card-list .card-list-content {
  padding-bottom: 40px;
}
.card-list-content .go-more {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 18px;
}
.text-right-only .time{
  font-size: 16px;
  color: #0e6eb8;
}
.text-right-only .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-right-only .des {
  font-size: 16px;
  line-height: 1.8;
}

.title-green {
  border-left: 5px solid rgb(1, 166, 98);
  padding: 10px;
}
.green-time {
  color: rgb(1, 166, 98);
  margin-bottom: 15px;
}
.title-page {
  font-weight: bold;
  font-size: 20px;
}
.des-thumnail {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.des-thumnail .lazy-load-image-loaded, .des-thumnail img {
  width: 100%;
}
.post-social #container-news iframe {
  vertical-align: bottom;
}
.button-bottom {
  display: block;
  width: 100%;
  position: relative;
}


/* Layout */
/* ------ */

.button-bar {
  height: auto;
  margin-left: 20px;
}
.button-bar {
  background: #ededed;
  padding: 40px;
}
/* General Button */
/* -------------- */
.button-bottom  .button {
  position: relative;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9.8px;
  padding-bottom: 9.8px;
  background: #0e6eb8;
  color: #ffffff;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
  display: block;
  width: 84px;
  text-align: center;
  margin-left: 27px;
  border: none;
}
.button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}
.button-bottom  .button:hover {
  opacity:0.8;
}

/* Arrow Buttons */
/* ------------- */

.prev::after {
  border-style: solid;
}

/* Prev Button */
/* ----------- */
.prev::after {
  border-color: transparent #0e6eb8 transparent transparent;
  right: 84px;
  border-width: 22px;
}



 @keyframes zoom {
	 25% {
		 transform: scale3d(1.5, 1.5, 0);
	}
	 50% {
		 transform: scale3d(1, 1, 0);
	}
	 75% {
		 transform: scale3d(1.25, 1.25, 0);
	}
}
 @keyframes spin {
	 100% {
		 transform: rotate(360deg);
	}
}


.back-button-list {
  border: 1px solid #0e6eb8;
  background-color: #0e6eb8;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 50px;
  color: #fff;
  outline: none;
  letter-spacing: 0.2em !important;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -80px;
  text-decoration: none;
}
.back-button-list.button-center {
  display: block;
  position: relative;
  margin: 0 auto;
  left: auto;
  width: 210px;
  text-align: center;
  padding: 10px 10px;
}
.back-button-list:hover {
  opacity: 0.8;
}

.icon-go-more {
  margin-left: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transition: .3s;
  transform: translateY(-50%);
}
.card-list .time {
  color: #C0C0C0;
  font-size: 15px;
}
.card-list .time .icon-calendar {
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -4px;
  font-size: 15px;
}

.post-social {
  text-align: right;
}

.post-social .sns-share {
  display: inline-block;
}

.post-heading {
  margin-bottom: 20px;
}

.post-heading .title-page {
  font-size: 24px;
  color: #413232;
  margin-bottom: 15px;
}

.post-content {
  font-size: 16px;
}

.post-content p {
  margin-bottom: 30px;
}

.post-sidebar {
  margin-bottom: 20px;
}

.post-time {
  font-size: 15px;
  font-weight: bold;
  color: #726C6C;
}

.post-box {
  padding-bottom: 30px;
}

.box-company-text {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

.box-company-text p {
  color: #726C6C;
  line-height: 26px;
  margin-bottom: 18px;
}

@media(max-width: 920px){

  .each-item .thumnail {
    width: 300px;
  }
  .each-item .text-right-only {
    width: calc( 100% - 320px );
  }
  .cover-list-new {
    padding: 50px 20px 0;
  }
}

@media(max-width: 767px){

  .each-item .thumnail {
    width: 100%;
    margin-bottom: 20px;
  }
  .each-item .text-right-only {
    width: 100%;
    position: relative;
  }
  .back-button-list {
    left: auto;
    right: 0;
  }

  .post-box {
    order: 2;
  }

  .post-sidebar {
    order: 1;
  }
}

.l-list-item .card-list {
  overflow: initial;
}

.post-list .l-list-item {
  box-shadow: none;
  border-radius: 0;
  padding: 6px 0;
  border-bottom: 2px solid #C0C0C0;
}

.post-list .l-list {
  margin-top: 0;
}

.post-list .card-list {
  color: #726C6C;
}

.post-list .card-list .card-list-content {
  padding-bottom: 0;
}

.post-list-title {
  font-size: 20px;
  font-weight: bold;
  color: #726C6C;
  margin-bottom: 20px;
}

.post-list .card-list-content .title {
  margin-bottom: 40px;
}

@media(min-width: 768px) {
  .l-list .l-list-item {
    padding: 20px;
    margin-bottom: 30px;
  }
  .l-list-item .card-list {
    isplay: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
  }
  .l-list-item .card-list .thumnail, .l-list-item .card-list .card-list-content {
    float: none;
  }

  .post-list .l-list-item {
    padding: 10px 0;
  }

  .post-heading.l-grid-flex-md {
    -webkit-align-items: center;
    align-items: center;
  }

  .gutter-30-sm .post-box, .gutter-30-sm .post-sidebar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .post-box {
    -ms-flex: 0 0 calc(65%);
    flex: 0 0 calc(65%);
    max-width: calc(65%);
  }

  .post-sidebar {
    -ms-flex: 0 0 calc(35%);
    flex: 0 0 calc(35%);
    max-width: calc(35%);
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .l-list .l-list-item:hover {
    -webkit-box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.18);
    box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.18);
  }

  .post-list .l-list-item:hover {
    box-shadow: none;
  }

  .l-list .l-list-item:hover .go-more {
    text-decoration: none;
  }

  .l-list .l-list-item:hover .icon-go-more {
    right: -5px;
  }

  .post-heading .title-page {
    font-size: 28px;
    margin-bottom: 0;
  }

  .post-box {
    padding-bottom: 50px;
  }

  .gutter-60-md .post-box, .gutter-60-md .post-sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .post-content {
    font-size: 20px;
  }

  .post-content p {
    margin-bottom: 45px;
  }

  .wrap-intro {
    margin-bottom: 35px;
  }

  .box-company-text p {
    margin-bottom: 32px;
  }

  .post-list .l-list-item {
    border-bottom: 3px solid #C0C0C0;
  }
}

@media (min-width: 1286px) {
  .post-box {
    -ms-flex: 0 0 calc(100% - 480px);
    flex: 0 0 calc(100% - 480px);
    max-width: calc(100% - 480px);
  }


  .post-sidebar {
    -ms-flex: 0 0 480px;
    flex: 0 0 480px;
    max-width: 480px;
  }

  .box-company-text {
    font-size: 15px;
  }

  .gutter-60-lg {
    margin-left: -30px;
    margin-right: -30px;
  }

  .gutter-60-md .post-box, .gutter-60-md .post-sidebar {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 766px) and (max-width: 1285px) {
  .box-company-text {
    font-size: 13px;
  }

  .post-content {
    font-size: 15px;
  }
}

@media (max-width: 1680px) {
  .post-list .l-list-item .thumnail {
    width: 250px;
  }

  .post-list .l-list-item .card-list-content {
    width: calc( 100% - 280px );
  }

  .post-list .card-list-content .title {
    margin-bottom: 15px;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .post-list .l-list-item .card-list {
    display: block;
  }

  .post-list .l-list-item .thumnail {
    width: 100%;
    margin-bottom: 15px;
  }

  .post-list .l-list-item .card-list-content {
    width: 100%;
    margin-bottom: 10px;
  }
}

.childTitle{
padding-left: 5px;
}
.childTitle li a{
  padding: 5px 0;
  color: #938D8D;

  text-decoration: none;
  line-height: 28px;
}

.l-list-normal1 .l-list-normal-link1 {
  display: block;
  padding: 5px 0;
  color: #938D8D;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 11px;
}
.l-list-normal1 >li>a {
  border-bottom: 2px solid #C0C0C0;
  width: 410px;
}

.childIconDown {

  font-size: 13px;
  display: inline;

}
.childIconaRow{
  font-size: 15px;
  display: inline;
  position: absolute;
  margin-top: 0px;
  margin-left: -17px;
}
.childIconaRow1{
  font-size: 15px;
  display: inline;
  position: absolute;
  margin-top: 0px;
  margin-left: -17px;
}
.childIconaRow1Child{
  font-size:15px;
  margin-top: 0px;
  margin-left: -5px;
}
.noLink{
  color: #AFAAAA;
}