
.ProjectType {
  .pd-banner {
    margin-top: 0px;
    padding-top: 0px;
    background: rgba(64, 114, 179, 0.05) !important;

  }

  .pannel-content {
    background-color: rgba(17, 108, 174, 0.1) !important;
    padding: 50px 50px 50px 50px;
    border-radius: 15px;
  }

  .contentRight {
    width: 300px !important;
    padding: 25px !important;
  }

  .contentLeft {
    width: 600px !important;
  }

  .pannel-body {
    //background-color: rgba(64,114,179,0.05) !important;
  }

  .pannel-head {
    //background-color: rgba(64,114,179,0.05) !important;
  }

  .rowFirst {
    height: 160px;
    display: flex;

    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .firstButton {
    background-color: rgba(235, 134, 134, 0.8) !important;
    border-radius: 10px;
    width: 500px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }

  .pannelLine1 {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 24px;
  }

  .pannelLine2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    .Line21 {
      padding-right: 20px;
      font-size: 14px;
    }

    .Line22 {
      font-size: 14px;
    }
  }

  .leftChild {
    min-width: 815px;
  }

  .rightChild {
    padding-right: 45px;
  }

  .divRight {
    float: right;
    margin-top: 30px;
  }

  .rightChildBottom {
    padding-top: 5px;
  }

  .row-number {
    font-size: 20px !important;
    font-weight: normal !important;
  }

  .row11 {
    margin-bottom: 12px !important;
  }

  .row22 {
    margin-top: 60px !important;
  }

  .pd-banner .pannel .pannel-body .pannel-content .row .row-note {
    font-weight: normal !important;
  }

  .pd-banner .row-process-bar span {
    background: #6088C6 !important;
  }

  .pd-banner .pannel .pannel-body .pannel-content .row .row-label {

    font-weight: normal !important;
    padding: 35px 50px 20px;
  }

  .row-process-bar {
    background: #BFBABA !important;
  }

  .btnRightChild {
    background: url(../img/project-detail/btnPlayProject.png) right no-repeat;
    width: 300px;
    background-color: #EB8686;
    height: 65px;
    padding-right: -1px;
    background-position-x: 246px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    align-content: center;
    background-size: 45px;
    padding-left: 10px;
    border-radius: 10px;
  }

  .rowChild {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .p1Button {
    font-size: 20px;
    color: #FFFFFF;
  }

  .p2Button {
    color: #FFFFFF;
    font-size: 10px;
  }

  .row4Button {
    $btnWidth: 100px; $btnHeight: 50px;
    //$btnBgColor:#F1F6FA;
    $btnBgColor:#F1F6FA;
    $btnMargin:10px;
    display: flex;
    flex-direction: row;

    div{
      margin-right: 10px;
      background-color: $btnBgColor;
      height: $btnHeight;
      width: 100px;
      text-align: center;
      line-height: $btnHeight;
    }
    div:last-child{
      margin-right: 10px; background-color: #ffffff;
    }
    %borderTop {
      border-top: #4B90C1 solid 3px;
      width: $btnWidth;
      background-color: $btnBgColor;
    }
    .btn1 {
      @extend %borderTop;
      background-color: $btnBgColor;

    }



    .btn2 {
      width: $btnWidth;
      background-color: $btnBgColor;
    }

    .btn3 {
      width: $btnWidth;
      background-color: $btnBgColor;
    }

    .btn4 {
      width: $btnWidth;
    }

    .textRight {
     text-align: right;
      width: 60%;
    }
  }

  //author
  .rowAuthor {
    margin-top: 50px;
  }

  .auTitle {
    text-align: left;
  }

  .auMain {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .auLeft {
    width: 500px;
  }

  .auImage {
    width: 500px;
  }

  .textImg {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .texLeft {

  }

  .textRight {
  }

  .auRight {
    width: 350px;
  }
  .auRight1 {
    background-color: rgba(64, 114, 179, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; padding: 20px;
  }
  .auRightFaq{
    width: 350px;
    padding-top: 20px;
  }
  .auLogo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: -25px;
  }
  .auSubIcon{
    display: flex;
    flex-direction: row;
    img{
      margin-top: -6px;
      position: absolute;
      margin-left: -29px;
    }
    p{
      margin-top: 2px;
    }
  }
  .auName {
  }

  .auDesc {
  }

  .auBtn {
    div{
      background-color: #AEC4E5;
      width: 150px;
      height: 30px;
      border-radius: 5px;
      text-align: center;
      line-height: 30px;
      color: #ffffff;
      font-size: 12px;
    }
  }

  .auFaq {
    background-color: #ffffff !important;
  }

}