@charset "utf-8";

/***************************************************************************
*
* project-detail.css
*
***************************************************************************/
.name-return {
	font-size: 30px;
}
.heart-project-detail {
	position: absolute;
	right: 10px;
}
.fanclub-info {
	margin-top: 10px;
	display: block;
	float: left;
}
.func-comment {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 12px;
	padding-top: 0;
}
.func-comment .button-func {
	padding: 0;
	float: left;
	font-size: 13px;
	margin-right: 10px;
	color: #fac75a;
}
.func-comment .button-func:hover
{
	opacity: 0.6;
}
.loading-func {
	position: absolute;
	z-index: 123123;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.comment-content .LinesEllipsis {
	background: #fafafa;
	padding: 10px;
	border-radius: 5px;
}
.title-box-project {
	font-size: 20px;
	color: #283035;
	display: -ms-flex;
	display: flex;
	align-items: center;
	font-weight: bold;
	margin-top: 30px;
	background: #fff;
}
.time-input {
	float: left;
	width: 200px;
	margin-left: 10px;
}
.button-report {
	border: none;
   display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: #ddd;
  width: 150px;
  padding: 7px;
  border-radius: 8px;
  margin-left: 10px;
  float: left;
}
.title-report {
	float: left;
}
.filter-tool {
	float: right;

}
.title-report
{
	font-size: 25px;
	color: rgb(1, 166, 98);
	font-weight: bold;
	padding-bottom: 12px;
}
.cover-list-new.padding-zero{
	padding: 0;
	padding-top: 50px;
}
.sns-share {
	display: block;
	overflow: hidden;
	margin: 10px 0;
}
.sns-share li{
	float: left;
	margin-right: 10px;
}
.max_count {
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 0;
	    font-weight: 400;
}
.max_count span {
	font-size: 25px;
	font-weight: bold;
	margin-left: 17px;
}
.out-of-stock {
	margin-top: 24px;
}
.pd-banner{
	/*margin-top: 80px;*/
	/*padding-top: 60px;*/
	/*background: url(../img/project-detail/banner-bg.png) no-repeat top center;*/
	/*background-size: cover;*/
}
pd-banner2{

}
.pd-banner .pannel .pannel-head{
	font-size: 25px;
	/*background: #efefef;*/
	font-weight: bold;
	padding: 24px 50px;
	position: relative;
}
.pd-banner .pannel .pannel-body{
	/*background: #fff;*/
	padding: 35px 50px 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.pd-banner .pannel .pannel-body .pannel-slider, .pd-banner .pannel .pannel-body .pannel-content{
	width: calc(50% - 30px);
}
.pd-banner .pannel .pannel-body .pannel-slider{
	text-align: center;
}
.pd-banner .pannel .pannel-body .pannel-content .row{
	margin-bottom: 18px;
	margin-top: 0;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-label{
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;
	background: no-repeat left center /14px;
}
.pd-banner .pannel .pannel-body .pannel-content .row-1 .row-label{
	background-image: url(../img/project-detail/ico-1.svg);
}
.pd-banner .pannel .pannel-body .pannel-content .row-2 .row-label{
	background-image: url(../img/project-detail/ico-2.svg);
}
.pd-banner .pannel .pannel-body .pannel-content .row-3 .row-label{
	background-image: url(../img/project-detail/ico-3.svg);
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-number{
	font-size: 40px;
	font-weight: bold;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-process-bar{
	background: #ededed;
	color: #000;
	line-height: 1.3;
	font-size: 16px;
	border-radius: 16px;
	position: relative;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-process-bar span{
	background: #ffc95c;
	border-radius: 16px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;

}
div iframe {
	width: 100%;
	height: 350px;
}
.detail-page-project .slick-dots {
	text-align: center;
}
.detail-page-project .slick-dots li {
	 margin-right: 14px;
	 width: auto;
}
.detail-page-project .slick-dots li button{
	width: 12px;
	height: 12px;
	background: #989998;
	border-radius: 50%;
	display: block;
}
.detail-page-project .slick-dots li.slick-active button{
		background: #183d77;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-process-bar i {
	display: block;
	position: relative;
	z-index: 12;
	text-indent: 9px;
	font-style: normal;
	color: #fff;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-note{
	text-align: right;
	font-weight: bold;
	margin-top: 5px;
}
.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a{
	font-size: 20px;
	color: #fff;
	text-align: center;
	background: #ff985f;
	text-decoration: none;
	display: block;
	padding: 16px;
	border-radius: 8px;
	position: relative;
}
.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::before, .pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a:hover span {
  transform: scale(1.2, 1.2);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::after {
  transition: all 0.3s;
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span{
	font-size: 20px;
	color: #fff;
	text-align: center;
	background: #ff985f;
	text-decoration: none;
	display: block;
	padding: 16px;
	border-radius: 8px;
	position: relative;
}
.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span::before, .pd-banner .pannel .pannel-body .pannel-content .pannel-btn span::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span:hover span {
  transform: scale(1.2, 1.2);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span::after {
  transition: all 0.3s;
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

.tab-area{
	margin-top: 5px;
}
.tab-area ul{
	display: block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.tab-area ul li{
	width: 100%;
	background: #848484;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 15px;
	position: relative;
}
.tab-area ul li.active{
	background: #0071ba;
}
.tab-area ul li.active::before, .tab-area ul li.active::after{
	display: none;
}
.tab-area ul li::before, .tab-area ul li::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tab-area ul li::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.tab-area ul li:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.tab-area ul li::after {
  transition: all 0.3s;
}

.tab-area ul li:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

.pd-area{
	padding: 40px;
	overflow: hidden;
}
.pd-area .pd-text{
	margin-bottom: 20px;
	line-height: 1.8;
}
.pd-area .img-flr{
	float: right;
	padding-left: 40px;
	padding-bottom: 40px;
}
.pd-area .img-fll{
	float: left;
}
.pd-area .img-center{
	text-align: center;
}
.pd-area .pd-box{
	margin-bottom: 40px;
}
.pd-area .pd-box .pd-box-title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 40px;
}
.pd-area .pd-box .pd-box-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.pd-area .pd-box .pd-box-content .pd-box-content-panel{
	width: 100%;
	background: #f4f4f4;
	border-radius: 15px;
	padding: 38px 23px;
	display: block;
	overflow: hidden;
	position: relative;
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro{
	width: 100%;
	position: relative;

}
.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar{
	width: 185px;
	border-radius: 15px;
	float: left;
}
.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar img {
	display: block;
	margin: 0 auto;
}
.pd-area .pd-box .pd-box-content .pd-box-text{
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 10px;
}
.pd-area .pd-box .pd-box-content .pd-box-text.mh-fix {
	min-height: 66px;
}
.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-text-wraper{
	width: calc(100% - 208px);
	float: left;
	padding-left: 20px;
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro{
	padding: 0 23px;
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-content-intro-title{
	font-size: 20px;
	margin-bottom: 6px;
}
.pd-box-btn .info-button{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	text-align: center;
	background: #0071ba;
	width: 230px;
	padding: 7px;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
}

.load-more-news-project .info-button {
	display: block;
	margin: 0 auto;
	padding: 15px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.float-for-btn {
	float: right;
}
.pd-box-btn .info-button::before, .pd-box-btn .info-button::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pd-box-btn .info-button::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.pd-box-btn .info-button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.pd-box-btn .info-button::after {
  transition: all 0.3s;
}

.pd-box-btn .info-button:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}
.pd-area .pd-box-2 .pd-box-title{
	padding-left: 30px;
	background: url(../img/project-detail/ico-4.svg) no-repeat left center /24px;
}
.pd-area .return-list{

}
.pd-area .return-list ul{

}
.pd-area .return-list ul li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background: #f4f4f4;
	padding: 55px;
	position: relative;
}
.pd-area .return-list ul li > button {
	position: absolute;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border: none;
	background: none;
}
.pd-area .return-list ul li:not(:last-child){
	margin-bottom: 75px;
}
.pd-area .return-list ul li .return-list-img{
	width: 360px;
}
.pd-area .return-list ul li .return-list-content{
	width: calc(100% - 420px);
	position: relative;
}
.pd-area .return-list ul li .return-list-content .return-list-content-number{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}
.pd-area .return-list ul li .return-list-content .return-list-text{
	line-height: 1.6;
}
.pd-area .return-list ul li .return-list-content .return-list-status{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 38px;
}
.pd-area .return-list ul li .return-list-content .return-list-status .return-list-s span{
	font-size: 25px;
	font-weight: bold;
}
.pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 20px;
	background: #00aff0;
	border-radius: 6px;
	text-decoration: none;
	padding: 12px;
	position: relative;
}

.pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click::before, .return-list-img::before , .return-list-img::after , .pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click::after   {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.return-list-img {
	position: relative;
}

.pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click::before , .return-list-img::before{
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click:hover::before , .return-list-img:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click::after , .return-list-img::after {
  transition: all 0.3s;
}

.pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click:hover::after , .return-list-img:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

/*ACTIVE TAB*/
.pd-area{
	display: none;
}
.pd-area.active{
	display: block;
}
.cover-video-thum {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    border: 3px solid #ffc95c;
    background-color: rgba(255,255,255,0.6);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
		z-index: 12;
}
.play-icon {
	font-size: 30px;
	color: #ffc95c;
}
.cover-video-thum {
	display: block;
	cursor: pointer;
}
.cover-video-thum:hover .play-icon {
	color:#fff;
}
.cover-video-thum:hover .button-play {
	border: 3px solid #fff;
}
/*END ACTIVE TAB*/
@media(max-width: 768px){
	.max_count {
		display: block;
		width: 100%;
		position: relative;
	}
	.pd-banner .pannel .pannel-body .pannel-content .pannel-btn span {
		float: left;
		font-size: 13px;
		width: calc( 50% - 5px);
		padding: 15px 0;
	}
	.pd-banner .pannel .pannel-body .pannel-content .pannel-btn.pannel-btn-100 span {
		width: 100%;
	}
	.float-for-btn {
		float: right;
		width: calc( 50% - 5px);
	}
	.pd-box-btn.float-for-btn .info-button {
		width: 100%;
    margin: 0;
    padding: 15px 0;
	}
	.out-of-stoc {
		margin-top: 0;
	}
	.end-grey {
		position: relative;
		left: auto;
		bottom: auto;
	}
	.pd-banner .pannel .pannel-head{
		display: none;
	}
	.pd-banner .pannel .pannel-body .pannel-slider, .pd-banner .pannel .pannel-body .pannel-content{
		width: 100%;
	}
	.pd-banner .pannel .pannel-body{
		flex-direction: column;
		padding: 0;
		background: none;
	}
	.pd-banner .wraper{
		padding: 0;
	}
	.pd-banner{
		padding-top: 4%;
		margin-top: 49px;
	}
	.pd-banner .pannel .pannel-body .pannel-slider{
		margin-bottom: 8%;
		padding: 0 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content{
		background: #fff;
		padding: 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row-title{
		font-size: 14px;
		text-align: center;
		display: block;
		margin-bottom: 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-label{
		font-size: 10px;
		background-size: 12px;
		padding-left: 18px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row{
		padding: 0 6%;
		margin-bottom: 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-number{
		font-size: 24px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-process-bar{
		font-size: 10px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-note{
		font-size: 10px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row-2, .pd-banner .pannel .pannel-body .pannel-content .row-3{
		width: calc(50% - 5px);
		display: inline-block;
	}
	.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a{
		border-radius: 3px;
		font-size: 14px;
		padding: 9px 9px 10px;
		margin: 0 auto;
		width: 88%;
	}
	.tab-area ul li{
		font-size: 12px;
		padding: 11px;
	}
	.pd-area .pd-box .pd-box-content{
		flex-direction: column;
	}
	.pd-area{
		padding: 4% 2.5%;
	}
	.pd-area .pd-box .pd-box-title{
		font-size: 14px;
		margin-bottom: 4%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel{
		display: block;
		padding: 5%;
		margin-bottom: 4%;
		position: relative;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar{
		width: 38%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-text-wraper{
		width: 58%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-text{
		font-size: 15px;
		line-height: 1.8;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-intro{
		padding: 0;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-content-intro-title{
		font-size: 14px;
	}
	.pd-box-btn .info-button{
		font-size: 12px;
		width: 140px;
		border-radius: 5px;
		padding: 12px;
		margin-top: 10px;
	}
	.pd-area .pd-box{
		margin-bottom: 12%;
	}
	.pd-area .pd-box-2 .pd-box-title{
		background-size: 14px;
		padding-left: 18px;
	}
	.pd-area .return-list ul li{
		flex-direction: column;
		padding: 8% 5%;
	}
	.pd-area .return-list ul li .return-list-img{
		text-align: center;
		width: 70%;
		margin: 0 auto 6%;
	}
	.pd-area .return-list ul li .return-list-content{
		width: 100%;
	}
	.pd-area .return-list ul li .return-list-content .return-list-content-number{
		font-size: 16px;
		margin-bottom: 2.5%;
	}
	.pd-area .return-list ul li .return-list-content .return-list-text{
		font-size: 12px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-status{
		margin-bottom: 20px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-status .return-list-s{
		font-size: 12px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-status .return-list-s span{
		font-size: 16px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-btn .button-return-click{
		width: 70%;
		margin: 0 auto;
		font-size: 12px;
		padding: 8px;
		border-radius: 4px;
	}
	.pd-area .return-list ul li:not(:last-child){
		margin-bottom: 10%;
	}
	.pd-area .img-fll, .pd-area .img-flr, .pd-area .img-center{
		padding: 0 4%;
		float: none;
		text-align: center;
		display: inline-block;
		margin-bottom: 4%;
	}
	.pd-area-img.pc{
		display: none !important;
	}
}
@media(max-width: 1380px){
	.rodal-dialog .max_count {
		position: relative;
		display: block;
		width: 100%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar {
		width: 130px;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-text-wraper {
		width: calc(100% - 130px);
	}
}


@media(max-width: 980px){
	.max_count {
		width: 100%;
		display: block;
		position: relative;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar{
		width: 90px;
		height: 100%;
		text-align: center;
		margin-bottom: 10px;
		position: relative;
	}


	.pd-area .pd-box .pd-box-content .pd-box-content-panel {
		padding: 20px;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar img {
		position: absolute;
		top:50%;
		margin-top: -60px;
		left: 0;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-text-wraper{
		width: calc( 100% - 90px );
		padding-left: 10px;
		float: right;
	}
	.pd-area .return-list ul li .return-list-img{
		width: 40%;
	}
	.pd-area .return-list ul li .return-list-content{
		width: 53%;
	}
}

@media(max-width: 768px){
	.pd-area .return-list ul li .return-list-img{
		width: 100%;
	}
	.pd-area .return-list ul li .return-list-content {
		width: 100%;
	}
	.pd-area .return-list ul li .return-list-img a {
		width: 100%;
		height: 100%;
		display: block;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar img {
		position: absolute;
		top:auto;
		margin-top: 0;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel {
		position: relative;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar {
		display: block;
		width: 100%;
		float: left;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar img {
		width: 140px;
		height: auto;
		position: relative;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-text-wraper {
		display: block;
		width: 100%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-text.mh-fix {
		min-height: auto;
	}
}
