@charset "utf-8";

/***************************************************************************
*
* project-list.css
*
***************************************************************************/
.slug-blank {
	display: flex;
  justify-content: center;
  align-items: center;
	background: none;
}
.slug-blank.blank-new {
	margin-bottom: 50px;
}
.slug-blank span {
	padding: 10px;
	border: 2px dotted #E3E4E8;
}
.banner{
	padding: 70px 0;
}
.banner-title{
	font-size: 40px;
}
.search .search-p{
	background: transparent;
	border: none;
	color: #000;
	font-size: 20px;
	margin-left: 15px;
	display: inline-block;
	font-weight: bold;
}
.search i{
	font-size: 20px;
	display: inline-block;
}

.area .row{
	margin-top: 30px;
}
.area .row:after{
	content: "";
	display: table;
	clear: both;
}

.area-list.area{
  	padding-top:0;
  	padding-bottom: 30px;
	margin-top: 0;
}
.area-list .col {
	margin-bottom: 20px;
}
@media(max-width: 1366px){
	.banner-title{
		font-size: 26px;
	}
	.search .search-p, .search i{
		font-size: 16px;
	}
}
@media(max-width: 768px){
	.area-list{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.banner{
		padding: 35px 0;
	}
	.banner-title{
		font-size: 18px;
	}
	.search .search-p, .search i{
		font-size: 14px;
	}
}
