@charset "utf-8";

/***************************************************************************
*
* register.reg .css
*
***************************************************************************/
.rodal-dialog .thank-area.login-panel {
	height: 100%;

}
.rodal-dialog .reg.area {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.rodal-dialog .reg.area .wraper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	overflow: auto;
}
.rodal-dialog .reg.area .wraper .register-panel {
	width: 100%;
}

.reg.area{
	margin-top: 102px;
	margin-bottom: 75px;
}
.reg .register-panel{
	background: #f6f8fa;
	overflow: hidden;
	padding: 50px;
}
.reg .title{
	font-size: 30px;
	text-align: center;
	margin-bottom: 55px;
}
.reg .form-label{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
	display: block;
}
.reg .form-label span{
	color: #fff;
	background-color: #e65d65;
	text-align: center;
	margin-left: 10px;
	font-size: 10px;
	padding: 0 5px;
	border-radius: 4px;
}
.form-reset .form-label,
.form-register .form-label {
	text-align: left;
}
.reg .form-label .require {
	font-size: 11px;
	padding: 2px 4px;
	color: #fff;
	background-color: #e65d65;
	border-radius: 3px;
}
.reg .form-text{
	text-align: center;
}
.reg .form-field{
	margin-bottom: 20px;
}
.reg:not(.area-form) .form-field input[type="text"]{
	width: 470px;
	border: 1px solid #e0e0e0;
	padding: 15px 10px 15px 20px;
	font-size: 12px;
	color: #000;
}
.reg .form-chk{
	text-align: center;
}
.reg .form-chk label{
	font-size: 12px;
}
.reg .form-chk input{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.reg .form-submit{
	text-align: center;
}
.reg .form-submit input{
	background: none;
	border: 1px solid #46c1f7;
	color: #46c1f7;
	font-size: 12px;
	width: 150px;
	text-align: center;
	padding: 8px;
	transition: all 200ms linear;
}
.reg .form-submit input:hover{
	background: #46c1f7;
	color: #f6f8fa;
}
.reg .blue-text{
	color: #46c1f7;
}
.form-reset .form-label, .form-reset .form-text,
.form-register .form-label, .form-register .form-text {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.form-register .form-chk label {
	font-size: 15px;
}

.form-register .myinput[type="checkbox"]:before {
	margin-top: 2px;
}

.form-register .myinput[type="checkbox"]:after {
	top: -19px;
}
@media(max-width: 768px){
	.reg .area{
		margin-top: 94px;
		margin-bottom: 4%;
	}
	.reg .register-panel{
		padding: 30px;
	}
	.reg .form-field input[type="text"]{
		width: 100%;
	}
}

@media(max-width: 420px){
	.reg .register-panel{
		padding: 15px;
	}

	.reg .title {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.area-form .form-register {
		padding-left: 0;
		padding-right: 0;
	}
}

.form-reset .form-submit input, .form-register .form-submit input {
	width: 100%;
	font-size: 15px;
}

@media (min-width: 768px) {
	.form-reset .form-submit input, .form-register .form-submit input {
		font-size: 16px;
		width: 150px;
	}

	.form-register .form-chk label {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	.reg.area-form {
		margin-top: 140px;
	}
	.reg .form-label {
		font-size: 16px;
	}
}

@media (min-width: 861px) {
	.form-reset .form-label, .form-register .form-label {
		-ms-flex: 0 0 200px;
		flex: 0 0 200px;
		max-width: 200px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.form-reset .form-text, .form-register .form-text {
		-ms-flex: 0 0 calc(100% - 200px);
		flex: 0 0 calc(100% - 200px);
		max-width: calc(100% - 200px);
	}
}
