
.ThreeGirl {
    .titleHeader {

    }

   .twoButton{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: -145px;
     margin-bottom: 145px;

   }
    .button1{
      height: 90px;
      width: 380px;
      color:#F7F7F7 ;
      background:  rgba(64,114,179,0.5);;
      margin-right: 10px;
      cursor: pointer;
    }
    .button2{
      height: 90px;
      width: 380px;
      color:#F7F7F7 ;
      background:  rgba(235,134,134,0.5);;
      margin-right: 10px;
      cursor: pointer;
    }
  .child{
    margin: 5px 5px 5px 5px;
    /* width: 98%; */
    height: 90%;
    border: #ffffff 1px solid;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .bannerContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img{
      width: 400px;
    }
    .Content{
      margin-top:50px;
      line-height: 30px;
      color: #696A6C;
      margin-bottom:150px;

    }
  }
}