table.static td.tdloading {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
}
.cover_subsidized_project {
  display: block;
  margin-top: 20px;
}
.cover-static .pagination {
  float: left;
  width: 50%;
}
.cover-static .box-total {
  float: right;
  border: 3px dotted #ddd;
  max-width: 50%;
}
.cover-static .box-total p {
  border: none;
  padding: 0;
  text-align: left;
  margin: 5px;
}
.cover-static .box-total .green {
  color: #0071ba;
}
.cover-static .box-total .red {
  color: #f14949;
}
.cover-static .box-total .text {
  float: right;
  margin-left: 15px;
  display: block;

}
.static-cap {
  text-align: left;
}
.link-to-project-detail {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: #0071ba;
  width: 150px;
  padding: 7px;
  border-radius: 4px;
  margin-left: 10px;
  float: left;
}
.link-to-project-detail:hover {
  opacity: 0.8;
}
.link-to-project-detail.report-list {
  background: #fd8b02;
}
.link-to-project-detail.report-add {
  background: #38cff2;
}
.cover-link-here
{
  position: absolute;
  right: 20px;
}
.rodal-custom .rodal-dialog{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
table.static {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.static caption {
  font-size: 25px;
  color: rgb(1, 166, 98);
  font-weight: bold;
  padding-bottom: 15px;
  text-align: left;
}

table.static tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table.static tr:hover {
  cursor: pointer;
  background: #e3e4e8;
}

table.static th,
table.static td {
  padding: 5px;
  text-align: center;
}
.static.table-fix-width th:nth-child(8) {
  width: 8%;
}
.static.table-fix-width th:nth-child(7) {
  width: 8%;
}
.static.table-fix-width th:nth-child(6) {
  width: 12%;
}
.static.table-fix-width th:nth-child(5) {
  width: 11%;
}
.static.table-fix-width th:nth-child(4) {
  width: 10%;
}
.static.table-fix-width tr td {
  word-wrap: break-word;
  overflow: hidden;
}

.static.table-fix-width tr td:nth-child(1) {
  padding-left: 12px;
}

table.static.suported th , table.static.suported td {
  padding: 10px;
}
table.static.suported th:nth-child(8) {
  width: 7%;
}
.cover_subsidized_project_fan table.static.suported th:nth-child(7) {
  width: 12%;
}
table.static.suported th:nth-child(7) {
  width: 7%;
}
table.static.suported th:nth-child(6) {
  width: 15%;
}
table.static.suported th:nth-child(5) {
  width: 30%;
}
table.static.suported th:nth-child(4) {
  width: 9%;
}
table.static.suported th:nth-child(3) {
  width: 9%;
}
table.static.suported th:nth-child(2) {
  width: 6%;
}
table.static.suported th:nth-child(1) {
  width: 24%;
}
table.static.suported .project-name {
  float: right;
  width: calc( 100% - 80px );
}
table.static.suported .image-project {
  float: left;
  width: 60px;
}
.cover-mobi-m {
  overflow: hidden;
}
.address_return_module table.static th , .address_return_module table.static.padding td {
  padding-left: 15px;
  text-align: left;
}
table.static.padding .active td {
  color: #0A5C93;
}
table.static.padding .active td i {
  color: #000;
}

.address_return_module table.static.padding  td i , table.static.padding td i{
  color: #000;
  font-size: 20px;
  margin-right: 26px;
}
table.static.padding td {
  padding: 0;
  padding: 10px 0;
}
.div-action {
  padding: 5px;
}
.form-field-content .fake-chekcbox:before {
  border: 1px solid #000;
}
.fake-chekcbox {
  position: relative;
  font-size: 14px;
  padding-left: 25px;
  cursor: pointer;
}
.form-field-content .fake-chekcbox {
  display: block;
  width: 100%;
}

.fake-chekcbox:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #0A5C93;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.form-field-content .fake-chekcbox:after {
  background: #000;
}
.fake-chekcbox:after {
  content: "";
  display: none;
  position: absolute;
  border: 1px solid #0A5C93;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background: #0A5C93;
}
.fake-chekcbox.active:after  {
  display: block;
}
.action-table {
  display: inline-block;
  font-size: 14px;
}




table.static th {
  font-size: 12px;
  text-transform: uppercase;
}
.set-width {
  width: 25%;
}

.cover_subsidized_project_fan .link-to-project-detail {
  width: 100px;
  margin: 0 auto;
  display: block;
  float: none;
}
.cover_subsidized_project_fan .link-to-project-detail.goleave {
  background: #ddd;
}
.cover_subsidized_project_fan .link-to-project-detail.leave {
  background: #ddd;
  width: 150px;
}

@media (max-width: 768px) {
  .link-to-project-detail {
    padding: 4px;
  }
  .button-report {
    float: none;
    margin: 0 auto;
  }
  .time-input {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .cover-link-here {
    position: relative;
    width: 100%;
    right: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
  table.static caption {
    text-align: center;
    margin-top: 10px;
  }
  .cover-no-blank .main-public.main {
    padding: 10px;
  }
  .cover-static .box-total {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
  }
  .cover-static .pagination {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
  .link-to-project-detail {
    width: 95px;
    font-size: 10px;
  }
  .pd-area .return-list ul li .return-list-content .return-list-status {
    display: block;
  }

}

@media screen and (max-width: 767px) {
  .cover-mobi-m {
    width: 100%;
    margin-top: 10px;
    text-align: left;
  }
  table.static.suported .project-name {
    text-align: left;
  }
  table.static {
    border: 0;
  }


  table.static thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.static tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table.static td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
  }

  table.static td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
  }

  table.static td:last-child {
    border-bottom: 0;
  }
}
