@charset "utf-8";

/***************************************************************************
*
* Strpe.css
*
***************************************************************************/


.cover-content{
	margin-top: 80px;
	background: #f5f5f5;
	padding: 15px 0;
}
.img-ticket {
	float: left;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.nav-tab ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid #cccdce;
	margin-bottom: 25px;
}
.nav-tab ul li{
	width: 100%;
	text-align: center;
	font-size: 16px;
	background: #fff;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}
.nav-tab ul li.active, .nav-tab ul li:hover{
	color: #183d77;
	border-bottom: 2px solid #183d77;
}
.nav-tab ul li:not(:last-child){
	border-right: 1px solid #cccdce;
}
.back-link span{
	text-decoration: underline;
	color: #000;
}
.back-link span:hover{
	text-decoration: none;
}
.page-content .pannel-white{
	background: #fff;
	padding: 45px 40px;
	margin-top: 40px;
	overflow: hidden;
}
.page-content .pannel-white.fix-margin {
	margin-top: 0;
	padding: 30px 40px;
}
.cover-tab-step-one {
	border:1px solid #CCCDCE;
	border-top:none;
	background: #fff;
}
.page-content .pannel-white.hidden-div {
	display: none;
}
.address_return_module {
	padding: 0 40px;
}
.address_return_module.infor-donor {
	padding: 0;
	margin-top: 30px;
}
.page-content .pannel-white-1{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	transition: all 200ms linear;
}
.page-content .pannel-white-1{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.page-content .pannel-white .pw-img{
	width: 290px;
}
.page-content .pannel-white .pw-content{
	width: calc(100% - 310px);
}
.page-content .pannel-white .pw-content .pw-content-number{
	font-size: 35px;
	font-weight: bold;
	/*background: url(../img/project-detail/ico-tick.svg) no-repeat left center /20px;
	padding-left: 30px;*/
	margin-bottom: 10px;
}
.pw-content-text{
	line-height: 1.8;
}
.page-content .pw-content-status{
	margin-top: 7px;
	width: 100%;
	display: block;
}
.page-content .pw-content-status .pw-content-status-s span{
	font-size: 25px;
	font-weight: bold;
}
.pannel-white .pannel-title{
	font-size: 20px;
	margin-bottom: 40px;
}
.pannel-white .brand-list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.pannel-white .brand-list ul li:not(:last-child){
	margin-right: 10px;
}
.page-content .btn-re{
	display: block;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-radius: 6px;
	background: #f7b600;
	width: 360px;
	text-decoration: none;
	padding: 10px;
	margin-right: 0;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom: 120px;
	border: none;
	transition: all 200ms linear;
}
.page-content .btn-re:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.page-tab .page-tab-head{
	font-size: 20px;
	font-weight: bold;
	background: #f7fafd;
	padding: 30px 35px;
}
.page-tab .page-tab-content{
	background: #fff;
	padding: 40px 145px 80px;
	margin-bottom: 120px;
}
.page-tab-form form  .form-area:not(:last-child){
	margin-bottom: 60px;
}
.page-tab-form form  .form-area .page-tab-label{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}
.page-tab-form form  .form-area .page-tab-text{
	margin-bottom: 40px;
}
.page-tab-form form .form-area .form-box .form-field{
	border: 1px solid #e2e2e2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 93%;
}
.address_return_module .page-tab-form form .form-area .form-box .form-field {
	width: 100%;
}
.address_return_module .page-tab-form form .form-area .page-tab-label {
	position: relative;
	top:0px;
	margin-bottom: 0;

}
.address_return_module .page-tab-form .add-donate-address form .form-area .page-tab-label{
	font-size: 25px;
	color: rgb(1, 166, 98);
	font-weight: bold;
	padding-bottom: 12px;
	text-align: center;
}
.page-tab-form form .form-area .form-box .form-field:first-child{
	border-top: 1px solid #e2e2e2;
	margin-top: 20px;
}
.page-tab-form form .form-area .form-field .form-field-name{
	width: 238px;
	background: #f7fafd;
	font-weight: bold;
	padding: 32px 20px;
	line-height: 1.5;
	overflow: hidden;
}
.address_return_module .page-tab-form form .form-area .form-field .form-field-name {
	padding: 22px 20px;
}
.cover-modal-no-flex .address_return_module .page-tab-form form .form-area .form-field .form-field-name {
	padding: 10px 20px;

}
.cover-modal-no-flex .rodal-custom .rodal-dialog {
	display: block;
	padding: 0;
}
.cover-modal-no-flex .rodal-dialog .pd-area {
	padding: 20px;
}
.cover-modal-no-flex .form-box {
	margin-top: 10px;
}
.cover-modal-no-flex #default-address .form-area {
	margin-bottom: 15px;
}
.button-donor.link-to-project-detail {
	display: block;
	margin: 0 auto;
	float: none;
	width: 200px;
}
.address_return_module .page-tab-form form .form-area .form-box .form-field {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: none;
}

#default-address .form-area {
	margin-bottom: 30px;
	border-bottom: 1px solid #e2e2e2;
}

.address_return_module .page-tab-form form .form-area:not(:last-child) {
	margin-bottom: 30px;
	border-bottom: 1px solid #e2e2e2;
}
.page-tab-form form .form-area .form-field .form-field-name span{
	font-size: 12px;
	color: #fff;
	background: #e65d65;
	border-radius: 4px;
	display: inline-block;
	line-height: 1.5;
    padding: 0 3px;
    float: right;
    margin-right: 59px;
}
.page-tab-form form .form-area .form-field .form-field-name-long span{
	margin-right: 10px;
}
.page-tab-form form .form-area .form-field .form-field-content{
	width: calc(100% - 238px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}
.page-tab-form form .form-area .form-field .form-field-content label{
	margin-right: 25px;
}
.page-tab-form form .form-area .form-field .form-field-content label input{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.page-tab-form form .form-area .form-field .form-field-content select{
	width: 72px;
	padding: 2px;
	border-color: #e0e0e0;
}
.page-tab-form form .form-area .form-field .form-field-content select:not(:last-child){
	margin-right: 11px;
}
.page-tab-form form .form-area .form-field .form-field-content select:not(:first-child){
	margin-left: 11px;
}
.page-tab-form form .form-area .form-field .form-field-content input{
	border: 1px solid #e0e0e0;
	padding-left: 10px;
}
.input-render {
	width: 100%;
}
.page-tab-form form .form-area .form-field .form-field-content input::placeholder{
	color: #e5e5e5;
}
.page-tab-form form .form-area-3 .form-box .form-field-1 .form-field-content input, .page-tab-form form .form-area-3 .form-box .form-field-2 .form-field-content input{
	width: 104px;
}
.page-tab-form form .form-area-3 .form-box .form-field-4 .form-field-content input{
	width: 455px;
}
.page-tab-form form .form-area-3 .form-box .form-field-5 .form-field-content input{
	width: 144px;
}
.page-tab-form form .btn-submit{
	display: block;
	font-size: 25px;
	color: #fff;
	text-align: center;
	width: 362px;
	border-radius: 5px;
	background: #f7b600;
	border: none;
	margin: 0 auto;
	padding: 14px;
	font-weight: bold;
	transition: all 200ms linear;
}
.page-tab-form form .btn-submit:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#tab4 .page-tab .page-tab-head{
	text-align: center;
}
#tab4 .page-tab .page-tab-content .btn-back{

}
#tab4 .page-tab .page-tab-content .btn-back a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 26px;
	border-radius: 6px;
	background: #f4902c;
	width: 285px;
	margin: 0 auto;
	transition: all 200ms linear;
	padding: 12px;
	font-weight: bold;
}
#tab4 .page-tab .page-tab-content .btn-back a:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.BackerAddForm > form > label{
	cursor: pointer;
}
.BackerAddForm > form > label input{
	position: relative;
	display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}
.BackerAddForm > form > label input:checked:after{
	background: #fff url(/img/ico-tick1.svg) no-repeat center /90%;
}
.BackerAddForm > form > label input:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 2px solid #183d77;
	background: #fff;
}
.BackerAddForm > form > label .pw-content-number span{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

/*TAB ACTIVE*/
.page-content{
	display: none;
}
.page-content.active{
	display: block;
}
.tab-change {
	float: left;
	width: 100%;
	border: 1px solid #CCCDCE;
	padding: 15px 0px;
	margin-top: 20px;
	background: #fff;
	position: relative;
}
.border-none.tab-change:before {
	display: none;
}
.tab-change:before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	background: #CCCDCE;
}
.tab-change .tab-name {
	width: 50%;
	color:#000;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	float: left;
	padding-left: 39px;
}
.tab-change .tab-name p {
	display: block;
	position: absolute;
	top: 0;
	left: 15px;
	border: 1px solid #183d77;
	width: 18px;
	height: 18px;
}
.tab-change .tab-name p img {
	display: none;
	margin:0;
}
.tab-change .tab-name.active p {
	border: none;
	width: 21px;
	height: 21px;
	top: -8px;
	left: 15px;
}
.tab-change .tab-name.active p img {
	display: block;
}
.bank-jp ul li {
	width: 100%;
}
.address_return {
	display: block;
	width: 100%;
	position: relative;
	margin-top: 50px;
}
.address_return h1 {
	font-size: 20px;
	display: block;
	position: relative;
	padding-left: 25px;
}
	.address_return h1:before {
		content: "";
		display: block;
		position: absolute;
		background: #183d77;
		top:0;
		left: 0;
		width: 5px;
		height: 100%;
	}
	.list-button li .icono-plusCircle{
		width: 20px;
		height: 20px;
	}
	.list-button li .icono-plusCircle:before {
		width: 12px;
	}
	.list-button li .icono-plusCircle:after {
		height:12px;
	}

	.list-button li .icono-list, .list-button li .icono-list:before {
    height: 3px;
    -webkit-box-shadow: inset 0 0 0 32px, 0 -8px 0 0, 0 8px 0 0;
    box-shadow: inset 0 0 0 20px, 0 -6px 0 0, 0 6px 0 0;
}
.list-button li:hover a {
	text-decoration: underline;
	color: #0085D0;
}
@media(max-width: 767px){
	.address_return_module .page-tab-form .add-donate-address form .form-area .page-tab-label {
		font-size: 22px;
	}
	.page-tab-form form .form-area .form-field .form-field-content {
		position: relative;
	}
	.page-tab-form form .form-area .form-field .form-field-content .fake-chekcbox {
		position: absolute;
		width: 93%;
	}
	.submit-box .button-submit.form-edit {
		width: calc( 50% - 20px );
		padding: 7px 36px;
		margin-top: 0;
	}
	.div-action {
		display: inline-block;
		text-align: left;
		padding: 0;
		margin-top: 10px;
		width: 100%;
	}
	.address_return_module table.static th, .address_return_module table.static.padding td {
		text-align: right;
	}
	.address_return_module .page-tab-form form .form-area .form-field .form-field-name {
    padding: 22px 9px;
    width: 30%;
	}
	.address_return_module .page-tab-form form .form-area .page-tab-label {
		float: left;
    width: 100%;
    margin: 10px 0;
    margin-top: 0;
	}
	.list-button {
		width: 100%;
		margin-bottom: 0px;
	}
	.list-button li {
		margin: 0;
		margin-right: 10px;
	}

	.address_return_module {
		padding: 0 10px;
	}
	#content{
		padding-bottom: 40px;
	}
	.back-link a{
		font-size: 12px;
	}
	.page-content .pannel-white-1{
		flex-direction: column;
	}
	.BackerAddForm > form > label input{
		width: 0;
		height: 0;
	}
	.BackerAddForm > form > label input:after{
		width: 15px;
		height: 15px;
		top: -10px;
		left: -2px;
	}
	.BackerAddForm > form > label .pw-content-number span{
		margin-left: 25px;
	}
	.page-content .pannel-white .pw-content, .page-content .pw-content-status{
		width: 100%;
	}
	.page-content .pannel-white .pw-img{
		width: 100%;
		margin: 0 auto 8%;
		text-align: center;
	}
	.img-ticket {
		margin-top: 0;
	}
	.page-content .pannel-white .pw-content .pw-content-number{
		font-size: 20px;
		-webkit-background-size: 15px;
		background-size: 15px;
	}
	.pw-content-text{
		font-size: 12px;
	}
	.page-content .pw-content-status .pw-content-status-s{
		font-size: 12px;
	}
	.page-content .pw-content-status .pw-content-status-s span{
		font-size: 14px;
	}
	.page-content .pannel-white{
		padding: 8%;
	}
	.pannel-white .pannel-title{
		font-size: 16px;
		margin-bottom: 8%;
	}
	.pannel-white .brand-list ul{
		flex-wrap: wrap;
		align-items: center;
	}
	.pannel-white .brand-list ul li{
		width: calc(100%/3 - 20px);
		margin-bottom: 8%;
	}
	.page-content .btn-re{
		width: 60%;
		margin: 0 auto;
		margin-bottom: 8%;
		margin-top: 6%;
		font-size: 14px;
		padding: 10px;
		border-radius: 4px;
	}
	.page-content .pannel-white{
		margin-top: 4%;
	}
	.nav-tab ul{
		margin-bottom: 4%;
	}
	.nav-tab ul li{
		padding-left: 5px;
		padding-right: 5px;
		font-size: 13px;
	}
	.page-tab .page-tab-content{
		padding: 4%;
		margin-bottom: 60px;
	}
	.page-tab-form form .form-area:not(:last-child){
		margin-bottom: 30px;
	}
	.page-tab-form form .form-area .form-field .form-field-name{
		width: 70px;
		text-align: center;
	}
	.page-tab-form form .form-area .form-field .form-field-name span{
		float: none;
		margin-right: 0;
		margin-top: 5px;
	}
	.page-tab-form form .form-area .form-box .form-field{
		width: 100%;
	}
	.page-tab-form form .form-area .form-field .form-field-content{
		width: 100%;
	}
	.page-tab-form form .form-area .form-field .form-field-content select{
		width: 100%;
	}
	.page-tab-form form .form-area .form-field .form-field-content{
		padding: 0 4%;
	}
	.page-tab-form form .btn-submit{
		width: 100%;
	}
	.page-tab .page-tab-head{
		font-size: 12px;
		padding: 6% 4%;
		text-align: center;
	}
	.page-tab-form form .form-area .form-field .form-field-content input{
		width: 100%;
	}
	.page-tab-form form .form-area-3 .form-box .form-field-1 .form-field-content input, .page-tab-form form .form-area-3 .form-box .form-field-2 .form-field-content input{
		width: 100%;
	}
	.page-tab-form form .form-area-3 .form-box .form-field-4 .form-field-content input{
		width: 100%;
	}
	.page-tab-form form .form-area .form-field .form-field-content input[type="radio"], .page-tab-form form .form-area .form-field .form-field-content input[type="checkbox"]{
		width: auto;
	}
	#tab4 .page-tab .page-tab-content .btn-back a{
		width: 80%;
		font-size: 14px;
		padding: 10px;
	}
}
