.SubFAQBtn1 {
    padding-top: 40px;

}
.bread-crums li a.breadcrumb-link {

    color: #4072B3 !important;
    font-weight: 600;
}
.bread-crums li {
    display: inline-block;
    color: #726868 !important;
}
.SubFAQBtn1Path{

}
.SubFAQBtn1PathSearch {
    height: 60px;
    float: right;
}
.divSearchLeft {
    font-size: 17px;
    border: 1px solid #4072B3;
    border-radius: 24px !important;
    margin: 15px auto;
    width: 400px;
}
.faq-form-search {
    background: #ffffff;
    border-radius: 23px !important;
}
.searchLeft {
    border: 0px solid #4072B3 !important;
}
.searchLeft {
    padding: 10px 10px 10px 28px;
    font-size: 17px;

    text-align: center;
    width: 100%;
    background-color: #fff;
}
.SubFAQBtn1Content{
 clear: both;
}
.SubFAQBtn1Title{

    color: #726868;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.buttonSub {
    background-color: #AEC4E5;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    min-width: 210px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
}
.main8{
  display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.SubFAQBtn1ContainerLeftRight{
    width: 500px;
}
.SubFAQBtn1ContainerLeft{

}

.SubFAQBtn1ContainerRight{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
}
.SubFAQBtn1ContainerRight p{
    color: #726868;
    border-bottom: #C0C0C0 3px solid;
    width: 269px;
    padding-bottom: 5px;
    padding-top: 5px;
}
