.towa{
	margin-bottom: 50px;
}

.towa .banner-towa{
	background-image: url(../img/staticPage/kakuseidatowa_banner.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.towa .box-cta{
	padding: 20px 40px 30px;
	background-color: #d9f3fc;
	margin-top: 30px;
}

.towa .box-cta .box-cta-title{
	color: #183d77;
	font-size: 26px;
	text-align: center;
	margin-bottom: 30px;
}

.towa .box-cta .box-cta-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.towa .box-cta .box-cta-list li{
	cursor: pointer;
	transition: all 200ms linear;
	box-shadow: 7px 7px 0px #acbec7;
}

.towa .box-cta .box-cta-list li:hover{
	box-shadow: 7px 7px 15px 0px #acbec7;
}

.towa .box-cta .box-cta-list li img{
	width: 100%;
}

.towa .desc-title{
	font-size: 18px;
	border-bottom: 2px solid #808080;
	margin-bottom: 20px;
}

.towa .desc-title strong{
	color: #c1272d;
}

.towa .desc{
	margin-top: 60px;
}

.towa .list-note{

}

.towa .list-note li{
	font-size: 18px;
	line-height: 2.5;
}

.towa .list-note li span{
	font-weight: bold;
	color: #c1272d;
	background: url(../img/staticPage/arrow-red.png) no-repeat left center/40px;
	padding-left: 50px;
}

.towa .rodal-dialog{
	padding: 0;
}

.towa .rodal-close{
	background: #e6f1f5;
	top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.towa .rodal-close:before,
.towa .rodal-close:after{
	background: #183d77;
	border-radius: 5px;
	width: 70%;
	left: 15%;
	height: 3px;
}

.towa .rodal-dialog img{
	width: 100%;
}

@media(max-width: 768px){
	.towa .box-cta{
		padding: 4%;
	}

	.towa .box-cta .box-cta-title{
		font-size: 16px;
	}

	.towa .box-cta .box-cta-list{
		flex-direction: column;
	}

	.towa .box-cta .box-cta-list li{
		margin-bottom: 4%;
	}

	.towa .desc-title{
		font-size: 16px;
	}

	.towa .list-note li{
		font-size: 16px;
	}

	.towa .list-note li span{
		-webkit-background-size: 20px;
		background-size: 20px;
		padding-left: 25px;
	}
}
